<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81"><a
            class="badge badge-pill badge-danger">
            <span id="title"></span><span class="iconify" data-icon="mdi:dice-multiple-outline" data-inline="false"
                style="color: black;" data-width="32" data-height="32"></span></span>
            <span class="iconify" data-icon="bi:chat-square-text" data-inline="false" style="color: black;"
                data-width="32" data-height="32"></span>
        </a></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81">主頁
            </a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    角色卡
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://card.hktrpg.com/">私人角色卡</a>
                    <a class="dropdown-item" href="https://publiccard.hktrpg.com/">公開角色卡</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    跑團平台
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://z01.hktrpg.com/">2.5D - 烏冬</a>
                    <a class="dropdown-item" href="https://z02.hktrpg.com/">四平八穩 - 冰丼</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    擲骰
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://rollbot.hktrpg.com/">聊天室擲骰</a>
                    <a class="dropdown-item" href="https://roll.hktrpg.com/">手機簡易擲骰</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://signal.hktrpg.com/">Signal to Noise</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://discord.hktrpg.com">Discord 骰子機械人</a>
                    <a class="dropdown-item" href="http://t.me/hktrpg_bot">Telegram 骰子機械人</a>
                    <a class="dropdown-item" href="http://bit.ly/HKTRPG_LINE">Line 骰子機械人</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://hktrpg.github.io/TG.line.Discord.Roll.Bot/PORTFOLIOP">HKTRPG作品集</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.patreon.com/HKTRPG">訂閱</a>
            </li>
            <a class="nav-item nav-link " href="https://github.com/hktrpg/TG.line.Discord.Roll.Bot">
                <span class="iconify" data-icon="bytesize:github" data-inline="false" data-width="25px"
                    data-height="25px"></span></a>
            <a class="nav-item nav-link " href="https://support.hktrpg.com">
                <span class="iconify" data-icon="jam:discord" data-inline="false" data-width="25px"
                    data-height="25px"></span></a>
        </div>
    </div>
</nav>