node_modules
.git
.github
.cursor
.vscode
.env
.env.*
!.env.copy
coverage
dist
build
tmp/*
!tmp/.gitkeep
temp/*
!temp/.gitkeep
export
logs/*
!logs/.gitkeep
log
*.log
.nyc_output
.eslintcache
.wwebjs_auth/*
!.wwebjs_auth/session/
.wwebjs_auth/session/*
!.wwebjs_auth/session/.gitkeep
.wwebjs_cache/*
!.wwebjs_cache/.gitkeep
whatsapp-session
whatsapp-session/**
agent-transcripts
