<!DOCTYPE html>
<html>
<head>
    <title>Patreon Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Login with Patreon</h1>
    <a href="<%= loginUrl %>">Login with Patreon</a>
</body>
</html>