<!doctype html>
<html lang="zh-Hant-HK">
<!-- HKTRPG Sad-->
<style>
    .overlay {
        position: fixed;
        z-index: 999;
    }

    .btn-link {
        font-weight: 400;
        color: #000000 !important;
        text-decoration: none;
        padding: 0px 8px 0px 8px !important;
        border-bottom: 00px !important;
        margin-bottom: 25px !important;
        height: 32px !important;

    }

    .btn-link:hover {
        background-color: #F79489;
    }

    .bg-color {
        background-color: #F9F1F0
    }

    .board1 {
        border: 1px solid #F8AFA6;
        border-radius: 8px;
        background-color: #FADCD9
    }

    .bg-color2 {
        background-color: #F79489;
    }

    .bg-color3 {
        background-color: #F8AFA6
    }

    .bg-color4 {
        background-color: #FADCD9
    }

    .textNote {
        background-color: #FADCD9;
        resize: none;
        height: 100px;
        border: none;
        padding: 1px 1px 1px 1px;
        border-radius: 8px;
    }

    .textName {
        height: 32px;
        width: 100px;
        background-color: #FADCD9;
        resize: none;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        border: none;
        padding: 1px 1px 1px 1px;
        border-radius: 8px;
    }

    .textState:hover {
        background-color: #F79489;
    }

    .textName:hover {
        background-color: #F79489;
    }

    .textNote:hover {
        background-color: #F79489;
    }

    .textState {
        border: none;
        padding: 1px 1px 1px 1px;
        border-radius: 8px;
        width: 153px;
        height: 32px;
        background-color: #FADCD9;
        resize: none;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- production version, optimized for size and speed -->
    <script src="https://unpkg.com/vue@3.0.5"></script>


    <title>Character Card 角色卡 @ HKTRPG</title>
    <link rel="icon" href="https://avatars2.githubusercontent.com/u/48795428?s=280&v=4" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!--https://blog.gtwang.org/programming/javascript-aes-symmetric-encryption-tutorial/-->
</head>

<body class="bg-color center container" id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81"><a
                class="badge badge-pill badge-danger">
                HKTRPG 私人角色卡管理平台<span class="iconify" data-icon="mdi:dice-multiple-outline" data-inline="false"
                    style="color: black;" data-width="32" data-height="32"></span></span>
                <span class="iconify" data-icon="bi:chat-square-text" data-inline="false" style="color: black;"
                    data-width="32" data-height="32"></span>
            </a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81">主頁
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        角色卡
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">私人角色卡</a>
                        <a class="dropdown-item" href="https://www.hktrpg.com:20721/publiccard/">公開角色卡</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        跑團平台
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://z01.hktrpg.com/">2.5D - 烏冬</a>
                        <a class="dropdown-item" href="https://z02.hktrpg.com/">四平八穩 - 冰丼</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        擲骰
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://rollbot.hktrpg.com/">聊天室擲骰</a>
                        <a class="dropdown-item" href="https://roll.hktrpg.com/">手機簡易擲骰</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://discord.hktrpg.com">Discord 骰子機械人</a>
                        <a class="dropdown-item" href="http://t.me/hktrpg_bot">Telegram 骰子機械人</a>
                        <a class="dropdown-item" href="http://bit.ly/HKTRPG_LINE">Line 骰子機械人</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://hktrpg.github.io/TG.line.Discord.Roll.Bot/PORTFOLIOP">HKTRPG作品集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.patreon.com/HKTRPG">訂閱</a>
                </li>
                <a class="nav-item nav-link " href="https://github.com/hktrpg/TG.line.Discord.Roll.Bot">
                    <span class="iconify" data-icon="bytesize:github" data-inline="false" data-width="25px"
                        data-height="25px"></span></a>
                <a class="nav-item nav-link " href="https://support.hktrpg.com">
                    <span class="iconify" data-icon="jam:discord" data-inline="false" data-width="25px"
                        data-height="25px"></span></a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container" id="array-rendering">
        <div class="alert alert-warning alert-dismissible fade show overlay" style="position: fixed;
        z-index: 999;" role="alert" id="warning-update">
            <strong>更新成功!</strong> 你可以在聊天平台上使用新資料了。
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show overlay" style="position: fixed;
        z-index: 999;" role="alert" id="warning-updateError">
            <strong>更新失敗!</strong> 請檢查或向HKTRPG回報。
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <button type="button" class="btn btn-primary float-right" onclick="logout()">
            <span class="iconify" data-icon="mdi:login" data-inline="false"></span>登入/登出
        </button>
        <button type="button" class="btn btn-secondary float-right" onclick="selectCard()">
            <span class="iconify" data-icon="grommet-icons:select" data-inline="false"></span>選擇角色卡
        </button>
        <button type="button" class="btn btn-info float-right" v-if="name" onclick="updateCard()">
            <span class="iconify" data-icon="ic:outline-save-alt" data-inline="false"></span>儲存角色卡
        </button>
        <button type="button" class="btn btn-dark float-right" onclick="readme()">
            <span class="iconify" data-icon="gg:readme" data-inline="false"></span>說明
        </button>
        <h3>
            <span class="iconify" data-icon="wpf:name" data-inline="false"></span> {{name}}
        </h3>
        <div class="form-check" v-if="name">
            <input class="form-check-input" type="checkbox" value="true" v-model="public" id="invalidCheck">
            <label class="form-check-label" for="invalidCheck">
                公開這角色卡
            </label>
        </div>
        <div v-if="gpList">
            <br>
            <h4 class="bg-color3 p-1">
                <span class="iconify" data-icon="grommet-icons:channel" data-inline="false" data-width="20px"
                    data-height="20px"></span>擲骰頻道
            </h4>
            <label><input type="radio" name="gpListRadio" value=null checked />
                不進行群組擲骰</label>
            <div v-for="(gp,i) in gpList">
                <label> <input type="radio" name="gpListRadio" v-bind:value="gp._id" />
                    編號: {{i+1}} 平台: {{gp.botname}} 群組名稱: {{gp.titleName}}</label>
            </div>
        </div>
        <br>
        <h4 class="bg-color3 p-1">
            <span class="iconify" data-icon="carbon:data-base" data-inline="false" data-width="20px"
                data-height="20px"></span>基本屬性
        </h4>
        <button type="button" class="btn btn-warning float-right" v-if="name" onclick="newItem(0)">
            +
        </button>
        <button type="button" class="btn btn-warning float-right" v-if="name" onclick="removeItem(0)">
            -
        </button>
        <div class="row align-items-start m-1 p-1">
            <div v-for="item in state" id="state" class=" board1" style="height: 36px;">
                <div>
                    <textarea class=" textName" v-model="item.name" style="width:50px;padding: 1px 1px 1px 1px">
                    {{item.name}}
                </textarea><span style="height: 62px;">：</span>
                    <textarea class=" textState" v-model="item.itemA" style="width:55px;padding: 1px 1px 1px 1px;">
                    {{item.itemA}}
                </textarea>
                    <span style="height: 32px;">／ </span>
                    <textarea class=" textState" v-model="item.itemB" style="width:55px;padding: 1px 1px 1px 1px">
                    {{item.itemB}}
                </textarea>
                    <button type="button" class="btn btn-link" v-on:click="rolling(item.name)"><span class="iconify "
                            data-icon="fa-solid:dice-d20" data-inline="false" data-width="20px"
                            data-height="20px"></span></button>
                </div>
            </div>
        </div>

        <br>
        <h4 class=" bg-color3 p-1">
            <span class="iconify" data-icon="fa-solid:dice-d20" data-inline="false" data-width="20px"
                data-height="20px"></span>擲骰
        </h4>
        <button type="button" class="btn btn-warning float-right" v-if="name" onclick="newItem(1)">
            +
        </button>
        <button type="button" class="btn btn-warning float-right" v-if="name" onclick="removeItem(1)">
            -
        </button>
        <div class="row align-items-start m-1 p-1" id="roll">
            <div v-for="item in roll" class="board1" style="height: 36px;padding: 1px 1px 1px 1px">
                <textarea class="col textName" v-model="item.name" style="width:80px;padding: 1px 1px 1px 1px">
                    {{item.name}}
                </textarea><span class="pb-2">:</span>
                <textarea class="col textState" v-model="item.itemA" style="width:80px;padding: 1px 1px 1px 1px">
                    {{item.itemA}}
                </textarea><button type="button" class="btn btn-link" v-on:click="rolling(item.name)"><span
                        class="iconify " data-icon="fa-solid:dice-d20" data-inline="false" data-width="20px"
                        data-height="20px"></span></button>
            </div>
        </div>
        <br>
        <h4 class=" bg-color3 p-1">
            <span class="iconify" data-icon="clarity:note-edit-line" data-inline="false" data-width="20px"
                data-height="20px"></span>筆記
        </h4>
        <button type="button" class="btn btn-warning float-right" v-if="name" onclick="newItem(2)">
            +
        </button>
        <button type="button" class="btn btn-warning float-right" v-if="name" onclick="removeItem(2)">
            -
        </button>
        <div class="row align-items-end" id="notes">
            <div v-for="item in notes" class="board1">
                <textarea class="col textName" v-model="item.name" style="width:80px;padding: 1px 1px 1px 1px">
                    {{item.name}}
                </textarea>：
                <textarea class="col textNote" v-model="item.itemA" style="width:180px">
                    {{item.itemA}}
                </textarea>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">HKTRPG 角色卡登入系統</h5>
                </div>
                <div class="modal-body">
                    <form id="card-Form">
                        <div class="form-group">
                            <label for="userName_id">使用者名稱</label>
                            <input type="email" class="form-control" id="userName_id" autocomplete="current-username"
                                aria-describedby="emailHelp" placeholder="輸入名稱">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="userPassword_id">Password</label>
                            <input type="password" class="form-control" id="userPassword_id"
                                autocomplete="current-password" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div id="warning" class="small" style="color:red;display:none">登入失敗或沒有角色卡</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark float-right" onclick="readme()">
                        <span class="iconify" data-icon="gg:readme" data-inline="false"></span>說明
                    </button>
                    <button type="button" class="btn btn-primary" onclick="login()">登入</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="cardListModal" tabindex="-1" role="dialog" aria-labelledby="cardListModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cardListModalLabel">選擇角色卡</h5>
                </div>
                <div class="modal-body">
                    <form id="cardList-Form">
                        <div class="form-group">
                            <div id="array-cardList">
                                <span v-for="(item,index) in list" :key="index" class="col">
                                    <button type="button" class="btn btn-warning m-1"
                                        v-on:click="getTheSelectedOne(index)">
                                        {{item.name}}</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="readmeModalCenter" tabindex="-1" role="dialog" aria-labelledby="readmeModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="readmeModalLongTitle">使用說明</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    使用前，首先要與HKTRPG骰子機器人對話，<br>
                    新增一張角色卡及一個管理用的ACC。<br>
                    方法如下:<br>
                    <strong> 1. 新增角色卡</strong><br>
                    <img src="https://github.com/hktrpg/TG.line.Discord.Roll.Bot/raw/master/views/image/d01.jpg"
                        alt="01" class="img-thumbnail">
                    對HKTRPG(在discord之類的平台) 輸入 .char add name[Sad]~ state[HP:15/15;mp:10/10;con:60;]~ roll[鬥毆: cc 50;心理學:
                    cc 60;]~
                    notes[筆記:這是測試,請試試在群組輸入 .char use Sad;]~<br>
                    Sad 是角色的名字，可以改成其他，也可以在這步直接設定能力值，<br>
                    詳細說明請輸入.char<br><br>
                    <strong> 2. 新增管理用的ACC</strong><br>
                    <img src="https://github.com/hktrpg/TG.line.Discord.Roll.Bot/raw/master/views/image/d02.jpg"
                        alt="02" class="img-thumbnail">
                    對HKTRPG輸入.admin account (帳號) (密碼)<br>
                    成功後，在這網頁 輸入帳號密碼，<br>
                    就可以管理角色卡，在網頁上 修改角色卡能力。<br><br>
                    <strong>3.在頻道中使用角卡</strong><br>
                    詳細可看 <a href="https://github.com/hktrpg/TG.line.Discord.Roll.Bot/wiki/Character-Card"
                        class="tooltip-Character" title="Tooltip">HKTRPG WIKI</a> <br>
                    <img src="https://github.com/hktrpg/TG.line.Discord.Roll.Bot/raw/master/views/image/d03.jpg"
                        alt="03" class="img-thumbnail">
                    但簡單來說，在你想使用這張角色卡的聊天軟件頻道輸入<br>
                    .char use Sad 或你角色名字，就可以使用角卡<br>
                    <img src="https://github.com/hktrpg/TG.line.Discord.Roll.Bot/raw/master/views/image/d04.jpg"
                        alt="04" class="img-thumbnail">
                    例如你在擲骰欄有一招名叫 鬥毆 內容是 cc 80<br>
                    那你在登記了的頻道輸入 .ch 鬥毆 就可以使出 cc 80<br>
                    又或你在 基本屬性 中加入一個 HP 18<br>
                    那你輸入 .ch hp -6 就可以扣減HP<br>
                    <br>
                    <strong>4.把擲骰結果傳送到已登記的Discord，TG，LINE上的聊天群組上: </strong><br>
                    <img src="https://github.com/hktrpg/TG.line.Discord.Roll.Bot/raw/master/views/image/d05.jpg"
                        alt="05" class="img-thumbnail">
                    讓你可以在使用網頁,直接在聊天軟件擲骰，不用再打指令，<br>
                    輸入後你的網站角色卡就會顯示該平台名稱，讓你可以選擇<br>
                    A) 由該群組的Admin授權允許 輸入 .admin allowrolling <br>
                    B) 登記該群組到自己的名單中 輸入 .admin registerChannel <br>
                    <br>
                    取消方法<br>
                    A) 由該群組的Admin取消授權 輸入 .admin disallowrolling <br>
                    B) 取消登記該群組到名單 輸入 .admin unregisterChannel <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-2">©2020-2021 GNU HKTRPG -
        <a href="https://www.patreon.com/HKTRPG"> 餵飼 Sad</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>

    <script>
        $('#warning-update').hide();
        $('#warning-updateError').hide();
        var socket = io();
        var userName = localStorage.getItem("userName");
        var userPassword = localStorage.getItem("userPassword");
        document.getElementById("userName_id").value = userName;
        document.getElementById("userPassword_id").value = userPassword;
        document.getElementById("body").onload = function () {
            login();
        };

        function readme() {
            $('#readmeModalCenter').modal("show")
        }

        function popup(result) {
            if (result) {
                $('#warning-update').show();
                setTimeout(function () {
                    // Closing the alert 
                    $('#warning-update').hide();
                }, 5000);
            }
            if (!result) {
                $('#warning-updateError').show();
                setTimeout(function () {
                    // Closing the alert 
                    $('#warning-updateError').hide();
                }, 5000);
            }

        }

        function updateCard() {
            socket.emit('updateCard', {
                userName: userName,
                userPassword: userPassword,
                card: card
            })

        }
        socket.on("updateCard", function (result) {
            popup(result);
        })

        function newItem(form) {
            switch (form) {
                case 0:
                    card.state.push({
                        itemA: ""
                    });
                    break;
                case 1:
                    card.roll.push({
                        itemA: ""
                    });
                    break;
                case 2:
                    card.notes.push({
                        itemA: ""
                    });
                    break;
                default:
                    break;
            }

        }
        var divNumber = 0;

        function addElement(message, type, closeDelay) {
            var $cont = $("#alerts-container");
            if ($cont.length == 0) {
                // alerts-container does not exist, create it
                $cont = $('<div id="alerts-container">')
                    .css({
                        position: "fixed",
                        width: "30%",
                        left: "60%",
                        top: "15%",
                        margin: "0 auto"
                    })
                    .appendTo($("body"));
            }

            // default to alert-info; other options include success, warning, danger
            type = type || "info";

            // create the alert div
            var alert = $('<div>')
                .addClass("alert text-wrap text-break warning alert-dismissible fade show overlay alert-" + type)
                .append(
                    $('<button type="button" class="close" data-dismiss="alert">')
                    .append("&times;")
                )
                .append(message);

            // add the alert div to top of alerts-container, use append() to add to bottom
            $cont.prepend(alert);

            // if closeDelay was passed - set a timeout to close the alert
            if (closeDelay)
                window.setTimeout(function () {
                    alert.alert("close")
                }, closeDelay);

        }


        function removeItem(form) {
            switch (form) {
                case 0:
                    card.state.pop();
                    break;
                case 1:
                    card.roll.pop();
                    break;
                case 2:
                    card.notes.pop();
                    break;
                default:
                    break;
            }

        }

        function logout() {
            document.getElementById("warning").style.display = "none";
            $('#loginModal').modal("show")
            card._id = "";
            card.id = "";
            card.name = "";
            card.notes = "";
            card.roll = "";
            card.state = "";
            card.public = false;
        }

        function selectCard() {
            $('#cardListModal').modal("show")
        }

        function login() {
            userName = document.getElementById("userName_id").value;
            userPassword = document.getElementById("userPassword_id").value;
            localStorage.setItem('userName', userName);
            localStorage.setItem('userPassword', userPassword);
            if (userName && userName.length >= 4 && userPassword && userPassword.length >= 6) {
                document.getElementById("userName_id").value = userName;
                document.getElementById("userPassword_id").value = userPassword;
                socket.emit('getListInfo', {
                    userName: userName,
                    userPassword: userPassword
                })
                socket.on("getListInfo", function (listInfo) {
                    let list = listInfo.temp;
                    if (listInfo && listInfo.id && listInfo.id.length > 0) {
                        card.gpList = listInfo.id
                    }
                    if (list) {
                        document.getElementById("warning").style.display = "none";
                        cardList.list = list
                        $('#loginModal').modal("hide");
                        $('#cardListModal').modal("show");
                    } else {
                        document.getElementById("warning").style.display = "block";
                        $('#loginModal').modal("show")
                    }
                });
            } else {
                $('#loginModal').modal("show")
            }
        }

        var card = Vue.createApp({
            data() {
                return {
                    id: "",
                    name: "",
                    state: [],
                    roll: [],
                    notes: [],
                    gpList: "",
                    public: false
                }
            },
            methods: {
                rolling(item) {
                    var obj = '';
                    if (document.querySelector('input[name="gpListRadio"]:checked')) {
                        let temp = document.querySelector('input[name="gpListRadio"]:checked').value;
                        obj = card.gpList.find(function (item, index, array) {
                            return item._id == temp;
                        });
                    }
                    socket.emit('rolling', {
                        item: item,
                        userName: userName,
                        userPassword: userPassword,
                        rollTarget: obj,
                        doc: {
                            state: card.state,
                            roll: card.roll,
                            notes: card.notes
                        },
                        cardName: card.name
                    });


                }
            }
        }).mount('#array-rendering')
        socket.on("rolling", function (result) {
            if (result) {
                addElement("<strong>" + result +
                    "</strong>", "warning", 4000);
            }
        })
        var cardList = Vue.createApp({
            data() {
                return {
                    list: []
                }
            },
            methods: {
                getTheSelectedOne(number) {
                    // then number will be the number
                    card._id = this.list[number]._id;
                    card.id = this.list[number].id;
                    card.name = this.list[number].name;
                    card.notes = this.list[number].notes;
                    card.roll = this.list[number].roll;
                    card.state = this.list[number].state;
                    card.public = this.list[number].public;
                    $('#cardListModal').modal("hide")
                }
            }
        }).mount('#array-cardList')
    </script>
</body>
<!-- HKTRPG Sad -- 20201221-->
<!--

輸入 .char online

-> 產生 和 顯示一組ID 和 PASSWORD.
-> 產生一個DB -> 這組ID, 對應一個ACC.



試入USER NAME和 密碼, 可以登入

顯示角色卡列表

點擊進入, 取得內容

角色卡內容可以修改

修改後按碓定鍵送出



-->

</html>