<!doctype html>
<html lang="zh-Hant-HK">
<!-- HKTRPG Sad-->
<style>
    .bg-color {
        background-color: #F9F1F0
    }

    .bg-color2 {
        background-color: #F79489
    }

    .bg-color3 {
        background-color: #F8AFA6
    }

    .bg-color4 {
        background-color: #FADCD9
    }

    .textNote {
        background-color: #FADCD9;
        resize: none;
        height: 80px;
    }

    .textName {
        height: 30px;
        background-color: #FADCD9;
        resize: none;
        overflow: hidden;
        white-space: nowrap;
    }

    .textState {
        width: 153px;
        height: 30px;
        background-color: #FADCD9;
        resize: none;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- production version, optimized for size and speed -->
    <script src="https://unpkg.com/vue@next"></script>


    <title>Character Card 角色卡 @ HKTRPG</title>
    <link rel="icon" href="https://avatars2.githubusercontent.com/u/48795428?s=280&v=4" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!--https://blog.gtwang.org/programming/javascript-aes-symmetric-encryption-tutorial/-->
</head>

<body class="bg-color center container" id="body">
    <div class="fixed-top text-right mr-md-5">
        <a href="https://github.com/hktrpg/TG.line.Discord.Roll.Bot"><span class="iconify" data-icon="bytesize:github"
                data-inline="false" data-width="25px" data-height="25px"></span></a>
        <a href="https://www.hktrpg.com"><span class="iconify" data-icon="ic:baseline-web" data-inline="false"
                data-width="30px" data-height="30px"></span>
        </a>
    </div>
    <!--
    <div>
        <img src="https://cdna.artstation.com/p/assets/images/images/023/585/544/large/farid-nx-rasyidtoken.jpg?1579690738"
            class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    </div>

    -->
    <center>
        <h1 class=" bg-color2"><img src='https://avatars2.githubusercontent.com/u/48795428?s=280&v=4'
                height="55em">角色卡功能</h1>
    </center>
    <br>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#loginModal">
        登出
    </button>
    <div class="container" id="array-rendering">
        <h3>
            <li> ID: {{id}}
            </li>
        </h3>
        <h3>
            <li> 角色名字: {{name}}
            </li>
        </h3>
        <br>
        <h3 class="bg-color3">
            基本屬性
        </h3>
        <div class="row align-items-start">
            <div v-for="item in state" id="state">
                <textarea class="col textName" v-model="item.name" style="width:80px;">
                    {{item.name}}
                </textarea>：
                <textarea class="col textState" v-model="item.itemA" style="width:80px">
                    {{item.itemA}}
                </textarea>
                <span>/
                    <textarea class="col textState" v-model="item.itemB" style="width:80px">
                    {{item.itemB}}
                </textarea>
                </span>
                &nbsp; &nbsp;
            </div>
        </div>
        <br>
        <h3 class=" bg-color3">
            擲骰
        </h3>

        <div class="row align-items-center" id="roll">
            <div v-for="item in roll">
                <textarea class="col textName" v-model="item.name" style="width:80px;">
                    {{item.name}}
                </textarea>：
                <textarea class="col textState" v-model="item.itemA" style="width:80px">
                    {{item.itemA}}
                </textarea>&nbsp; &nbsp;
            </div>
        </div>
        <br>
        <h3 class=" bg-color3">
            筆記
        </h3>
        <div class="row align-items-end" id="notes">
            <div v-for="item in notes">
                <textarea class="col textName" v-model="item.name" style="width:80px;">
                    {{item.name}}
                </textarea>：
                <textarea class="col textNote" v-model="item.itemA" style="width:180px">
                    {{item.itemA}}
                </textarea>&nbsp; &nbsp;
            </div>
        </div>
        <div>
            <!-- `greet` is the name of a method defined below -->
            <button @click="greet">修改</button>
        </div>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">HKTRPG 角色卡登入系統</h5>
                </div>
                <div class="modal-body">
                    <form id="card-Form">
                        <div class="form-group">
                            <label for="userName_id">使用者名稱</label>
                            <input type="email" class="form-control" id="userName_id" aria-describedby="emailHelp"
                                placeholder="輸入名稱">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="userPassword_id">Password</label>
                            <input type="password" class="form-control" id="userPassword_id" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="login()">登入</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="cardListModal" tabindex="-1" role="dialog" aria-labelledby="cardListModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cardListModalLabel">選擇角色卡</h5>
                </div>
                <div class="modal-body">
                    <form id="cardList-Form">
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
        integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg=="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
        integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
        crossorigin="anonymous" />
    <script>
        var socket = io();
        var userName = localStorage.getItem("userName");
        var userPassword = localStorage.getItem("userPassword");

        document.getElementById("body").onload = function () {
            if (!userName && !userPassword) {
                $('#loginModal').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            } else {
                login();
                /**
                                socket.emit('getInfo', {
                                    userName: userName,
                                    userPassword: userPassword
                                })
                                socket.on("getInfo", function (amount) {
                                    console.log(amount)
                                    console.log(card);
                                    card.id = amount.id;
                                    card.name = amount.name;
                                    card.notes = amount.notes;
                                    card.roll = amount.roll;
                                    card.state = amount.state;
                                });

                                
                localStorage.setItem('userName', document.getElementById("userName_id").value);
                localStorage.setItem('userPassword', document.getElementById("userPassword_id").value);
                                **/

            }

        };



        function login() {
            // document.getElementById("userName_id").value = userName;
            //document.getElementById("userPassword_id").value = userPassword;
            if (userName && userPassword) {
                document.getElementById("userName_id").value = userName;
                document.getElementById("userPassword_id").value = userPassword;
                socket.emit('getListInfo', {
                    userName: userName,
                    userPassword: userPassword
                })
                socket.on("getListInfo", function (amount) {
                    console.log(amount)
                    console.log(card);
                    card.id = amount.id;
                    card.name = amount.name;
                    card.notes = amount.notes;
                    card.roll = amount.roll;
                    card.state = amount.state;
                });



            }
        }

        var card = Vue.createApp({
            data() {
                return {
                    test: 0,
                    id: 'Test',
                    name: 'Sad',
                    state: [{
                        name: 'HP',
                        itemA: 5,
                        itemB: 6
                    }, {
                        name: 'HP',
                        itemA: 5,
                        itemB: 6
                    }],
                    roll: [{
                        name: '空手',
                        itemA: '1D3'
                    }, {
                        name: '空手2',
                        itemA: '1D3'
                    }],
                    notes: [{
                        name: '筆記',
                        itemA: '這是測試    '
                    }, {
                        name: '筆記',
                        itemA: '這是測試    '
                    }]
                }
            },
            methods: {
                greet(event) {
                    //  this.name = 'dd'

                    socket.emit('card', card)
                    socket.on("card", function (amount) {
                        card.name = amount;
                    });
                    var forms = document.getElementById('userName_id');
                    console.log(forms.value);
                    // `this` inside methods points to the current active instance
                }
            }
        }).mount('#array-rendering')
    </script>

</body>
<!-- HKTRPG Sad -- 20201221-->
<!--

輸入 .char online

-> 產生 和 顯示一組ID 和 PASSWORD.
-> 產生一個DB -> 這組ID, 對應一個ACC.



試入USER NAME和 密碼, 可以登入

顯示角色卡列表

點擊進入, 取得內容

角色卡內容可以修改

修改後按碓定鍵送出



-->

</html>