<!doctype html>
<html lang="en">
<style>
    .center {
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        padding: 4px;
    }

    th {
        background-color: #dddddd;
    }

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 25px;
    }

    .bg-color {
        background-color: #ece9e9;
        color: black;
    }

    .color-01 {
        background-color: #d5d8d8;
        color: black;
    }

    .color-02 {
        background-color: #453b3a;
        color: white;
    }

    .color-03 {
        background-color: #a47b5e;
        color: white;
    }

    .preline {
        white-space:
            pre-line;
    }

    body {
        margin-top: 2%
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"
        integrity="sha512-HjKxWye8lJGPu5q1u/ZYkHlJrJdm6KGr89E6tOrXeKm1mItb1xusPU8QPcKVhP8F9LjpZT7vsu1Fa+dQywP4eg=="
        crossorigin="anonymous"></script>
    <script src="https://pulipulichen.github.io/jieba-js/jquery.js"></script>
    <script src="https://pulipulichen.github.io/jieba-js/require-jieba-js.js"></script>
    <title>Hello, world!</title>

</head>


<body class="bg-color center" id="body">

    <div class="container-lg">
        <div class="row">
            <div class="col color-02">
                <div id="totallyDate"><br>
                    * 總共聊天天數 <br>
                    {{ message }}
                </div>
                <div id="totallyMessage"><br>
                    * 總共傳了多少訊息 - BOT 及非BOT<br>
                    人: {{ message0 }} BOT: {{ message1 }}
                </div>
            </div>
            <div class="col color-01">
                <canvas id="myChart" width="100" height="80"></canvas>
            </div>
            <div class="col color-03">
                <div id="averageMessage">
                    * 每日平均訊息數量<br>
                    {{ message }}
                </div>

                <div id="analysicDate">
                    * 最多說話的三天<br>
                    <div v-for="message in messages">
                        {{ message.date }} 有 {{ message.number }}條信息
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-lg">
        <div class="row">
            <div class="col color-03">
                <canvas id="myChart2" width="100" height="80"></canvas>
                群友各自占聊天的比例 (圓型圖)

            </div>
            <div class="col color-02">最常講的字 (文字雲)
                <div id="tag" style="border: 1px solid #eee; height: 250px; width:350px;"></div>
            </div>
            <div class="col color-01">
                <canvas id="myChart3" width="100" height="80"></canvas>
                * 6. 每日訊息數(拆線圖)
            </div>
        </div>

    </div>
    <br>
    <div class="container center" id="appMain">
        <div class="page-header">
            <h1>聊天紀錄</h1>
            <input type="text" placeholder="Filter by department or employee" v-model="filter" />
        </div>
        <table>
            <thead>
                <tr>
                    <th>順序</th>
                    <th>時間</th>
                    <th>發信人</th>
                    <th>內容</th>
                    <th>機器人</th>
                </tr>
            </thead>
            <tbody class="preline">
                <tr v-for="(row, index) in filteredRows">
                    <td v-html="index"></td>
                    <td v-html="dhm2(row.timestamp)"></td>
                    <td v-html="highlightMatches(row.userName)"></td>
                    <td v-html="highlightMatches(row.contact)"></td>
                    <td v-html="(row.isbot).toString().replace(false,'否').replace(true,'是')"></td>
                </tr>
            </tbody>
        </table>


    </div>
    <br> <br> <br> <br>



    <div class="container-lg fixed-bottom">
        <div class="progress" id="touchBar" style="height: 30px; background: #ccc;">
            <div class="progress-bar" id="progressbar" role="progressbar" style="width: 10%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script>
        //https://getbootstrap.com/docs/4.5/components/scrollspy/#list-item-4
        // Object.keys(list);
        /**
         * 1. 
         * 總共聊天天數 - 由什麼時候開始
         * 總共傳了多少訊息 - BOT 及非BOT
         * 
         * 2.
         * 群友的頭六名的訊息數(不包括BOT) (棒型圖)
         * 
         * 3.
         * 每日平均訊息數量
         * 最多說話的一天
         * 
         * 4.群友各自占聊天的比例 (圓型圖)  
         * 
         * 5. 
         * 最常講的字 (文字雲) 
         * 
         * 6. 每日訊息數(拆線圖)
         * 
         */

        var rawData = [{
            timestamp: 2443046401,
            contact: 'Test',
            userName: 'Test',
            isbot: true,
        }, {
            timestamp: 2443046402,
            contact: 'Test',
            userName: 'Test',
            isbot: true,
        }, {
            timestamp: 2443046403,
            contact: 'Test',
            userName: 'Test',
            isbot: true,
        }, {
            timestamp: 2443046404,
            contact: 'Test',
            userName: 'Test',
            isbot: true,
        }, {
            timestamp: 2443046400,
            contact: 'Test',
            userName: 'Test',
            isbot: true,
        }, {
            timestamp: 2443046400,
            contact: 'Test',
            userName: 'Test',
            isbot: true,
        }, {
            timestamp: 1602227330,
            contact: 'Test',
            userName: 'Test',
            isbot: false,
        }, {
            timestamp: 2443046400,
            contact: 'Test',
            userName: 'Test',
            isbot: false,
        }, {
            timestamp: 24430123344,
            contact: 'Test',
            userName: 'Test',
            isbot: false,
        }, {
            timestamp: 24430464411,
            contact: 'Test',
            userName: 'Test',
            isbot: false,
        }, {
            timestamp: 2443046123,
            contact: 'Test01',
            userName: 'Test01',
            isbot: false,
        }, {
            timestamp: 2443046451,
            contact: 'Test01',
            userName: 'Test01',
            isbot: false,
        }, {
            timestamp: 2443046423,
            contact: 'Test01',
            userName: 'Test01',
            isbot: false,
        }, {
            timestamp: 2443099999,
            contact: 'Test01',
            userName: 'Test01',
            isbot: false,
        }, {
            timestamp: 2443041210,
            contact: 'Test01',
            userName: 'Test01',
            isbot: true,
        }, {
            timestamp: 2443040000,
            contact: 'Test02',
            userName: 'Test02',
            isbot: false,
        }, {
            timestamp: 2443046120,
            contact: 'Test02',
            userName: 'Test02',
            isbot: false,
        }, {
            timestamp: 2443046230,
            contact: 'Test02',
            userName: 'Test02',
            isbot: true,
        }, {
            timestamp: 2443045990,
            contact: 'Test04',
            userName: 'Test04',
            isbot: false,
        }, {
            timestamp: 2449999400,
            contact: 'Test04',
            userName: 'Test04',
            isbot: false,
        }, {
            timestamp: 2445555400,
            contact: 'Test04',
            userName: 'Test04',
            isbot: false,
        }, {
            timestamp: 2443312400,
            contact: 'Test05',
            userName: 'Test05',
            isbot: false,
        }, {
            timestamp: 2441245430,
            contact: 'Test053',
            userName: 'Test053',
            isbot: false,
        }, {
            timestamp: 2443046410,
            contact: 'Test023Test023\nTest023',
            userName: 'Test023',
            isbot: false,
        }, {
            timestamp: 2443042440,
            contact: 'Test023',
            userName: 'Test023',
            isbot: false,
        }, {
            timestamp: 2443046400,
            contact: 'Test023',
            userName: 'Test023',
            isbot: false,
        }, {
            timestamp: 2443016400,
            contact: 'Test3',
            userName: 'Test3',
            isbot: false,
        }, {
            timestamp: 2443456400,
            contact: 'Test3',
            userName: 'Test3',
            isbot: false,
        }, {
            timestamp: 2412346400,
            contact: 'Test3',
            userName: 'Test3',
            isbot: false,
        }, {
            timestamp: 2441246400,
            contact: 'Test45',
            userName: 'Test45',
            isbot: false,
        }]
        rawData.sort(function (a, b) {
            return a.timestamp - b.timestamp;
        });
        //總共聊天天數 - 由什麼時候開始
        var totallydate = totallyDay(rawData);
        var totallyDate = new Vue({
            el: '#totallyDate',
            data: {
                message: totallydate
            }
        })
        //[d, '天', pad(h), '小時', pad(m), '分鐘'].join('');

        //總共傳了多少訊息 - BOT 及非BOT
        var totallymessage = analysicTotallymessage(rawData);
        var totallyMessage = new Vue({
            el: '#totallyMessage',
            data: {
                message0: totallymessage[0],
                message1: totallymessage[1]
            }
        })
        var averageMessage = new Vue({
            el: '#averageMessage',
            data: {
                message: (totallymessage[0] / (totallydate || 1).toString().match(/\d+/i)).toFixed(2) + '個'
            }
        })
        //[humanTimes.length, botTimes.length

        //最多訊息數日子頭三，訊息數 O   
        var date = analysicDate(rawData)
        var top6Date = [...date]
        top6Date.sort(function (b, a) {
            return a.number - b.number;
        });

        top6Date.splice(3, top6Date.length - 1)
        var analysicDate = new Vue({
            el: '#analysicDate',
            data: {
                messages: top6Date
            }
        })
        // 群友的頭六名的訊息數(不包括BOT) (棒型圖)
        var peopleTalk = analysicPeopleTalk(rawData);
        console.log('peopleTalk', peopleTalk)


        //群友各自占聊天的比例   
        var peoplePer = analysicPeoplePer(peopleTalk);

        //每日平均訊息數量
        //totallymessage/totallydate

        //最多說話的一天 

        //https://github.com/pulipulichen/HTML5-Text-Analyzer
        //最常講的字 文字雲(大於30次才會顯示)   

        /**
         *    contact: 'Third: Learn JavaScript\nWWW',
                        timestamp: '2009-09-09',
                        user: 'Sad',
                        ISBOT?: "Dec.",
                        
         * 
         * */


        function analysicPeoplePer(rawData) {

        }

        //最多訊息數日子頭三， 訊息數 O
        function analysicDate(result) {
            let tempresult = [];
            let temptime = 0;
            let tempdate = '';
            for (let index = 1; index < result.length; index++) {
                var unix_timestamp = result[index].timestamp;
                var date = new Date(unix_timestamp * 1000)
                var year = date.getFullYear().toString();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                tempdate = year + month + day;
                if (!tempresult || !tempresult[temptime]) {
                    tempresult[temptime] = {
                        date: tempdate,
                        number: 1
                    };
                } else if (tempresult[temptime].date == tempdate) {
                    tempresult[temptime].number++
                } else {
                    temptime++
                    tempresult[temptime] = {
                        date: tempdate,
                        number: 1
                    }

                }

            }
            return tempresult
        }
        //群友的頭六名的訊息數(不包括BOT) (棒型圖)
        function analysicPeopleTalk(messages) {
            var tempData = [];
            messages.forEach(message => {
                if (!tempData[message.userName]) {
                    tempData[message.userName] = 1;
                } else tempData[message.userName]++;
            })
            return tempData;
        }

        function analysicTotallymessage(messages) {
            let humanTimes = messages.filter(time => time.isbot == false) || [];
            let botTimes = messages.filter(time => time.isbot == true) || [];
            return [humanTimes.length, botTimes.length]
        }

        function totallyDay(result) {
            if (!result) return;
            let lastDay = result[result.length - 1].timestamp;
            let firstDay = result[0].timestamp;
            return dhm(lastDay - firstDay);
            //"[30/10/2019, 17:07:04]", "30", "10", "2019", "17", "07", "04"]
        }

        function dhm(t) {
            var cd = 24 * 60 * 60 * 1000,
                ch = 60 * 60 * 1000,
                d = Math.floor(t / cd),
                h = Math.floor((t - d * cd) / ch),
                m = Math.round((t - d * cd - h * ch) / 60000),
                pad = function (n) {
                    return n < 10 ? '0' + n : n;
                };
            if (m === 60) {
                h++;
                m = 0;
            }
            if (h === 24) {
                d++;
                h = 0;
            }
            return [d, '天', pad(h), '小時', pad(m), '分鐘'].join('');
        }
    </script>
    <script>
        function dhm2(unix_timestamp) {
            var date = new Date(unix_timestamp * 1000)
            var year = date.getFullYear().toString();
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');
            return [year, '年', month, '月', day, '日'].join('');
        };
        const appMain = new Vue({
            el: "#appMain",
            data: {
                filter: "",
                rows: rawData
            },
            methods: {
                highlightMatches(text) {
                    const matchExists = text
                        .toLowerCase()
                        .includes(this.filter.toLowerCase());
                    if (!matchExists) return text;
                    const re = new RegExp(this.filter, "ig");
                    return text.replace(re, matchedText => `<strong>${matchedText}</strong>`);
                },
                dhm2(unix_timestamp) {
                    var date = new Date(unix_timestamp * 1000)
                    var year = date.getFullYear().toString();
                    var month = (date.getMonth() + 1).toString().padStart(2, '0');
                    var day = date.getDate().toString().padStart(2, '0');
                    return [year, '年', month, '月', day, '日'].join('');
                }
            },
            computed: {
                filteredRows() {
                    return this.rows.filter(row => {
                        const contact = row.contact.toString().toLowerCase();
                        const userName = row.userName.toString().toLowerCase();
                        const timestamp = dhm2(row.timestamp).toString().toLowerCase();;
                        const searchTerm = this.filter.toLowerCase();
                        return (
                            contact.includes(searchTerm) || userName.includes(searchTerm) ||
                            timestamp.includes(searchTerm)
                        );
                    });
                }
            }
        });
    </script>
    <script>
        _text = "這個布丁是在無聊的世界中找尋樂趣的一種不能吃的食物，喜愛動漫畫、遊戲、程式，以及跟世間脫節的生活步調。";
        call_jieba_cut(_text, function (_result) {
            console.log(_result);
        });
    </script>
    <script>
        //取得d3顏色
        var fill = d3.scaleOrdinal(d3.schemeCategory10);
        //文字雲/關鍵字，及字型大小（這邊只放三個）
        var data = [{
                text: "加里山",
                size: 21
            },
            {
                text: "文字雲",
                size: 18
            },
            {
                text: "翠湖 螢火蟲",
                size: 55
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            },
            {
                text: "翠湖 螢火蟲",
                size: 17
            }
        ];
        //取得呈現處的寬、高
        var w = parseInt(d3.select("#tag").style("width"), 10);
        var h = parseInt(d3.select("#tag").style("height"), 10);

        d3.layout.cloud().size([w, h])
            .words(data)
            .padding(2)
            .rotate(function () {
                return ~~((Math.random() * 6) - 3) * 30
            })
            .fontSize(function (d) {
                return d.size;
            })
            .on("end", draw)
            .start();

        function draw(words) {
            d3.select("#tag").append("svg")
                .attr("width", w)
                .attr("height", h)
                .append("g")
                .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("font-family", "Microsoft JhengHei")
                .style("cursor", 'pointer')
                .style("fill", function (d, i) {
                    return fill(i);
                })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                })

        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
        integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg=="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
        integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
        crossorigin="anonymous" />

    <script>
        var top6Labels = "",
            top6Data = "";
        peopleTalk.forEach((item, index) => {
            top6Data[index] = Object.keys(item);
            top6Labels[index] = item[Object.keys(item)];
        })
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '群友的頭六名的訊息數(不包括BOT)',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var app4 = new Vue({
            el: '#Body',
            data: {
                messages: [{
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }, {
                    contact: 'first',
                    date: '2009-09-09',
                    user: 'Sad',
                    month: "Dec.",
                    day: "05"
                }],
                messages2: [{
                        contact: 'Second, Learn JavaScript',
                        date: '2009-09-09',
                        user: 'Sad',
                        month: "Dec.",
                        day: "05"
                    },
                    {
                        contact: 'Third: Learn JavaScript\nWWW',
                        date: '2009-09-09',
                        user: 'Sad',
                        month: "Dec.",
                        day: "05"
                    },
                    {
                        contact: 'Third: Learn JavaScript\nWWW',
                        date: '2009-09-09',
                        user: 'Sad',
                        month: "Dec.",
                        day: "05"
                    }
                ]
            }
        })
    </script>

    <script>
        var ctx2 = document.getElementById("myChart2").getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var ctx3 = document.getElementById("myChart3").getContext('2d');
        var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';
        var progressbar = document.getElementById("progressbar");
        var pos = ((h[sh] || b[sh]) <= h.clientHeight) ? 100 : getVerticalScrollPercentage(b);
        progressbar.innerHTML = Math.round(pos) + '%';
        progressbar.style.width = Math.max(Math.round(pos), 10) + '%';
        document.getElementById("touchBar").addEventListener("mousedown",
            function clicked(e) {
                var br = document.getElementById("touchBar").getBoundingClientRect();
                // x & y are relative to the clicked element
                var x = e.clientX - br.left;
                var level = Math.round(x / document.getElementById("touchBar").offsetWidth * 100) / 100;

                window.scrollTo({
                    top: level * ((h[sh] || b[sh]) - h.clientHeight),
                    behavior: 'smooth'
                });

            });

        document.onscroll = function () {
            pos = getVerticalScrollPercentage(b)
            //aria-valuenow
            progressbar.innerHTML = Math.round(pos) + '%';
            progressbar.style.width = Math.max(Math.round(pos), 10) + '%';
        };

        function getVerticalScrollPercentage(elm) {
            var percent = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
            return percent
        }
    </script>

    <script>
        $(document).ready(function () {
            var activeSystemClass = $('.list-group-item.active');

            //something is entered in search form
            $('#system-search').keyup(function () {
                var that = this;
                // affect all table rows on in systems table
                var tableBody = $('.table-list-search tbody');
                var tableRowsClass = $('.table-list-search tbody tr');
                $('.search-sf').remove();
                tableRowsClass.each(function (i, val) {

                    //Lower text for case insensitive
                    var rowText = $(val).text().toLowerCase();
                    var inputText = $(that).val().toLowerCase();
                    if (inputText != '') {
                        $('.search-query-sf').remove();
                        tableBody.prepend(
                            '<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "' +
                            $(that).val() +
                            '"</strong></td></tr>');
                    } else {
                        $('.search-query-sf').remove();
                    }

                    if (rowText.indexOf(inputText) == -1) {
                        //hide rows
                        tableRowsClass.eq(i).hide();

                    } else {
                        $('.search-sf').remove();
                        tableRowsClass.eq(i).show();
                    }
                });
                //all tr elements are hidden
                if (tableRowsClass.children(':visible').length == 0) {
                    tableBody.append(
                        '<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>'
                    );
                }
            });
        });
    </script>


</body>

</html>