<!DOCTYPEhtml>
    <html>

    <head>
        <title>aes demo</title>
        <meta charset="utf-8" />
        <style>
            * {
                margin: 0;
                padding: 0
            }

            .demo-wrap {
                width: 400px;
                height: 50px;
                margin: 50px auto auto auto
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

    </head>

    <body>
        <div class="demo-wrap">
            <input type="text" id="data-ipt" />
            <button onclick="getAES();">AES加密</button>
            <button onclick="getDAes();">AES解密</button>
            <br />
            加密后的數據:
            <p id="encrypted"></p>
            解密后的數據:
            <p id="decrypted">
                </p>
                </div>
                <script>
                    function getAesString(data, key, iv) { //加密

                        var key = CryptoJS.enc.Utf8.parse(key);
                        //alert(key）;
                        var iv = CryptoJS.enc.Utf8.parse(iv);
                        var encrypted = CryptoJS.AES.encrypt(data, key, {
                            iv: iv,
                            mode: CryptoJS.mode.CBC,
                            padding: CryptoJS.pad.Pkcs7
                        });
                        return encrypted.toString(); //返回的是base64格式的密文
                    }

                    function getDAesString(encrypted, key, iv) { //解密
                        var key = CryptoJS.enc.Utf8.parse(key);
                        var iv = CryptoJS.enc.Utf8.parse(iv);
                        var decrypted = CryptoJS.AES.decrypt(encrypted, key, {
                            iv: iv,
                            mode: CryptoJS.mode.CBC,
                            padding: CryptoJS.pad.Pkcs7
                        });
                        return decrypted.toString(CryptoJS.enc.Utf8); //
                    }

                    function getAES() { //加密
                        var data = document.getElementById("data-ipt").value; //明文
                        var key = 'abcdefgabcdefg12abcdefgabcdefg12'; //密鑰
                        var iv = '';
                        var encrypted = getAesString(data, key, iv); //密文
                        var encrypted1 = CryptoJS.enc.Utf8.parse(encrypted);
                        document.getElementById("encrypted").innerHTML = encrypted;
                    }

                    function getDAes() { //解密
                        var encrypted = document.getElementById("encrypted").innerHTML; //密文
                        var key = 'abcdefgabcdefg12abcdefgabcdefg12';
                        var iv = 'abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12abcdefgabcdefg12';
                        var decryptedStr = getDAesString(encrypted, key, iv);
                        document.getElementById("decrypted").innerHTML = decryptedStr;
                    }
                </script>
    </body>

    </html>