<!doctype html>
<html lang="zh-Hant-HK">
<!-- HKTRPG Sad-->
<style>
    .center {
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        padding: 4px;
    }

    th {
        background-color: #eeeeee;
    }

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 25px;
    }

    .bg-color {
        background-color: #EDEAE5;
        color: black;
    }

    .color-01 {
        background-color: #f0d25d80;
        color: black;
    }

    .color-02 {
        background-color: #90ccf4c7;
        color: white;
    }



    .preline {
        white-space:
            pre-line;
    }

    body {
        margin-top: 2%
    }

    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(247, 248, 177, 0.5);
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"
        integrity="sha512-HjKxWye8lJGPu5q1u/ZYkHlJrJdm6KGr89E6tOrXeKm1mItb1xusPU8QPcKVhP8F9LjpZT7vsu1Fa+dQywP4eg=="
        crossorigin="anonymous"></script>
    <script src="https://pulipulichen.github.io/jieba-js/jquery.js"></script>
    <script src="https://pulipulichen.github.io/jieba-js/require-jieba-js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <title>Discord Messager @ HKTRPG</title>
    <link rel="icon" href="https://avatars2.githubusercontent.com/u/48795428?s=280&v=4" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"
        integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A=="
        crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!--https://blog.gtwang.org/programming/javascript-aes-symmetric-encryption-tutorial/-->
</head>

<body class="bg-color center" id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <a class="navbar-brand" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81"><a
                class="badge badge-pill badge-danger">
                HKTRPG Discord 聊天紀錄分析<span class="iconify" data-icon="mdi:dice-multiple-outline" data-inline="false"
                    style="color: black;" data-width="32" data-height="32"></span></span>
                <span class="iconify" data-icon="bi:chat-square-text" data-inline="false" style="color: black;"
                    data-width="32" data-height="32"></span>
            </a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active"
                    href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81">主頁</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        角色卡
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.hktrpg.com:20721/card/">私人角色卡</a>
                        <a class="dropdown-item" href="https://www.hktrpg.com:20721/publiccard/">公開角色卡</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        跑團平台
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://z01.hktrpg.com/">2.5D - 烏冬</a>
                        <a class="dropdown-item" href="https://z02.hktrpg.com/">四平八穩 - 冰丼</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        擲骰
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://rollbot.hktrpg.com/">聊天室擲骰</a>
                        <a class="dropdown-item" href="https://roll.hktrpg.com/">手機簡易擲骰</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://discord.hktrpg.com">Discord 骰子機械人</a>
                        <a class="dropdown-item" href="http://t.me/hktrpg_bot">Telegram 骰子機械人</a>
                        <a class="dropdown-item" href="http://bit.ly/HKTRPG_LINE">Line 骰子機械人</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://hktrpg.github.io/TG.line.Discord.Roll.Bot/PORTFOLIOP">HKTRPG作品集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.patreon.com/HKTRPG">訂閱</a>
                </li>
                <a class="nav-item nav-link " href="https://github.com/hktrpg/TG.line.Discord.Roll.Bot">
                    <span class="iconify" data-icon="bytesize:github" data-inline="false" data-width="25px"
                        data-height="25px"></span></a>
                <a class="nav-item nav-link " href="https://support.hktrpg.com">
                    <span class="iconify" data-icon="jam:discord" data-inline="false" data-width="25px"
                        data-height="25px"></span></a>
            </div>
        </div>
    </nav>
    <div id="myNav" class="overlay">
        <div class="overlay-content">
            <div class="spinner-border" style="width: 10rem; height: 10rem; color:chocolate;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div> <br>
        <h1>聊天紀錄</h1>
        <div class="container-md">
            <div class="row border">
                <div class="col-md-4 color-01"> <br>
                    <div id="totallyDate">
                        <br>
                        總共聊天天數 <br>
                        <span class="iconify" data-icon="ic:outline-calendar-today" data-inline="false"
                            data-width="30px" data-height="30px"></span>{{ message }}<br><br>
                    </div>
                    <div id="totallyMessage"><br>
                        總共傳了多少訊息<br>
                        <span class="iconify" data-icon="bi:people" data-inline="false" data-width="30px"
                            data-height="30px"></span>{{ message0 }}<br>
                        <span class="iconify" data-icon="ant-design:robot-outlined" data-inline="false"
                            data-width="30px" data-height="30px"></span>
                        {{ message1 }}<br>
                    </div><br>
                </div>
                <div class="col-md-4 color-02">
                    <canvas id="myChart" width="100" height="80"></canvas>
                </div>
                <div class="col-md-4 color-01"> <br>
                    <div id="averageMessage"><br>
                        每日平均訊息數量<br><span class="iconify" data-icon="grommet-icons:mail-option" data-inline="false"
                            data-width="30px" data-height="30px"></span>
                        {{ message }}<br>
                    </div>
                    <br>
                    <div id="analysicDate"><br>
                        最多訊息的三天<br>
                        <div v-for="message in messages">
                            <span class="iconify" data-icon="clarity:talk-bubbles-line" data-inline="false"
                                data-width="30px" data-height="30px"></span>{{ message.date }} {{ message.number }}條
                        </div><br>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 color-02 border">
                    <canvas id="myChart2" width="100" height="80"></canvas>
                </div>
                <div class="col-md-4 color-01 border" id="wordCloud">最常講的字 (文字雲)
                    <div id="tag" style=" height: 250px; width:350px;"></div>
                </div>
                <div class="col-md-4 color-02 border">
                    <canvas id="myChart3" width="100" height="80"></canvas>
                </div>
            </div>

        </div>
        <br>

        <div class="container center table-responsive-md" id="appMain">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                使用說明
            </button>
            <button class="btn btn-info" v-on:click="loadDemo">載入範例</button>

            <br><br>
            <div class="form-row">
                <div class="form-group col-md-3 mx-auto">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" aria-describedby="passwordHelpBlock"
                            placeholder="請輸入密碼" id="passw0rd">
                        <button class="btn btn-warning" v-on:click="reNew">開始解密</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="page-header" style="color: #90CCF4;">
                <input type="text" placeholder="Filter" v-model="filter" />
            </div>
            <table class="table table-bordered" style="word-break:break-all; word-wrap:break-all;">
                <thead class="thead ">
                    <tr class="d-flex">
                        <th class="col-md-1" style="color: white;background-color: #90ccf4e0;">#</th>
                        <th class="col-md-2" style="color: white;background-color: #90ccf4e0;">時間</th>
                        <th class="col-md-2" style="color: white;background-color:  #90ccf4e0;">發信人(🤖)</th>
                        <th class="col-md-7" style="color: white;background-color:  #90ccf4e0;">內容</th>
                    </tr>
                </thead>
                <tbody class="preline" v-for="(row, index) in filteredRows">
                    <tr v-if="index%2==0" class="d-flex" style="background-color: #90ccf43f">
                        <td class="col-md-1" v-html="index"></td>
                        <td class="col-md-2" v-html="dhm2(row.timestamp)"></td>
                        <td class="col-md-2" v-html="highlightMatches(row.userName,row.isbot)"></td>
                        <td class="col-md-7" v-html="highlightMatches(row.contact)"></td>
                    </tr>
                    <tr v-if="index%2==1" class="d-flex" style="background-color: #f3d25052;">
                        <td class="col-md-1" v-html="index"></td>
                        <td class="col-md-2" v-html="dhm2(row.timestamp)"></td>
                        <td class="col-md-2" v-html="highlightMatches(row.userName,row.isbot)">
                        </td>
                        <td class="col-md-7" v-html="highlightMatches(row.contact)"></td>
                    </tr>
                </tbody>
            </table>



        </div>
        <br> <br>
        <div class="footer-copyright text-center py-3">©2020-2021 GNU HKTRPG -
            <a href="https://www.patreon.com/HKTRPG"> 餵飼 Sad</a>
        </div>
        <br> <br>
        <div class="container-md fixed-bottom">
            <div class="progress" id="touchBar" style="height: 30px; background: #ccc;">
                <div class="progress-bar" id="progressbar" role="progressbar" style="width: 10%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">使用說明</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    這是HKTRPG Discord 骰子機械人的附屬功能，<br>
                    用來分析Discord 頻道的聊天紀錄。<br><br>
                    使用方法：<br>
                    首先把HKTRPG骰子機械人新增到自己的頻道，給它閱讀過往聊天歷史的權限，<br>
                    然後在想分析的頻道中輸入<br>
                    .discord html 或.discord txt<br>
                    那它就會私訊你輸出分析，前者為網頁版內容經過AES加密，後者是純文字檔案<br>
                    但因為經過server處理，擔心個資外洩請勿使用。<br>
                    <a href="https://discord.hktrpg.com"> \HKTRPG骰子機械人/</a><br>
                    P.S. 這是為了寫TRPG團錄功能而開發出來的副產品，有時間可以到YT搜索TRPG，<br>
                    會有很多有趣的REPLAY。
                    <img class="img-fluid" src="https://i.imgur.com/zuLQzmB.jpg">
                    <img class="img-fluid" src="https://i.imgur.com/JM7UdU5.jpg">
                    <img class="img-fluid" src="https://i.imgur.com/UZmOxOT.jpg">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
        integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg=="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
        integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
        crossorigin="anonymous" />
    <script>
        //https://getbootstrap.com/docs/4.5/components/scrollspy/#list-item-4
        // Object.keys(list);
        /**
         * 1. 
         * 總共聊天天數 - 由什麼時候開始
         * 總共傳了多少訊息 - BOT 及非BOT
         * 
         * 2.
         * 群友的頭六名的訊息數(不包括BOT) (棒型圖)
         * 
         * 3.
         * 每日平均訊息數量
         * 最多說話的一天
         * 
         * 4.群友各自占聊天的比例 (圓型圖)  
         * 
         * 5. 
         * 最常講的字 (文字雲) 
         * 
         * 6. 每日訊息數(拆線圖)
         * 
         */
        /* var rawData = [{
                    timestamp: 2441246400,
                    contact: 'Test45',
                    userName: 'Test45',
                    isbot: false,
                }]*/
        var aesData = [];

        function getDAesString(encrypted, key, iv) { //解密
            var keyy = CryptoJS.enc.Utf8.parse(key);
            var ivv = CryptoJS.enc.Utf8.parse(iv.slice(0, 16));
            var decrypted = CryptoJS.AES.decrypt(encrypted, keyy, {
                iv: ivv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
            return decrypted.toString(CryptoJS.enc.Utf8);
        }

        function getDAes(key, iv, data) { //解密
            var decryptedStr = getDAesString(data, key, iv);
            return decryptedStr;
        }

        var demoData = [{
            timestamp: 340875548000,
            contact: 'Demo 信息 @HKTRPG',
            userName: 'Sad',
            isbot: false,
        }, {
            timestamp: 584262427000,
            contact: '下回預告 「忍者的歷史 就是成長的歷史 成長的歷史 就是 私立御齋學園的歷史',
            userName: 'Zzzzz',
            isbot: true,
        }, {
            timestamp: 868259227000,
            contact: '本校長在此宣佈 一年一度 天下一 話劇大會 正式開始 各班同學請努力代表自己的班表演」',
            userName: 'Zzzzz',
            isbot: true,
        }, {
            timestamp: 1567584546000,
            contact: '「報告校長 我地接到錯誤通知 有啲人接到兩份通知 到底我地班要做小紅帽定白雪公主」 「。。。。一於溝埋做白雪帽啦，結局自定！」',
            userName: 'Zzzzz',
            isbot: false,
        }, {
            timestamp: 1563696546000,
            contact: '忍者在其他人眼中是如神一般的存在，但有生命的終將滅亡，愛卻是永恆不滅，',
            userName: 'Zzzzz',
            isbot: false,
        }, {
            timestamp: 1563696548900,
            contact: '偉大的存在把死去的忍者集合起來許諾相愛的人，將會從黃泉復活',
            userName: 'Zzzzz',
            isbot: false,
        }, {
            timestamp: 1567238949000,
            contact: '忍者的歷史 就是戰爭的歷史 亦是忍神的歷史 忍神 代表無限的可能性 少年忍者 與 下任宗主小 伙伴旅遊時被困於霧之村中 只有 三天後 濃霧消除 才可離開 百無聊賴 的 他們 遇上村中的 小忍者 ,被請求 於那時 帶 她 離 開 可是 這計劃已被 村中守衛 所 發現 。',
            userName: 'Zetetic',
            isbot: false,
        }, {
            timestamp: 3401941148000,
            contact: '\\我愛TRPG/ .....吓?',
            userName: 'Zetetic',
            isbot: false,
        }]
        var rawData = [];


        //總共聊天天數 - 由什麼時候開始
        var totallydate = totallyDay(rawData) || "";
        var totallyDate = new Vue({
            el: '#totallyDate',
            data: {
                message: totallydate
            },
            methods: {
                reNewtotallyDate: function (input) {
                    var newtotallydate2 = totallyDay(input);
                    this.message = newtotallydate2;
                }
            },
            updated() {
                // 讓我們可以知道組件有被更新
                console.log('totallyDate updated')
            }
        })
        var md = new MobileDetect(window.navigator.userAgent);
        var isMobile = true;
        if (!md.mobile() && !md.phone() && !md.tablet()) {
            isMobile = false;
        }

        var switchLoading = (isMobile) ? false : true;
        if (switchLoading) {
            document.getElementById("myNav").style.display = "block";
        } else {
            document.getElementById("wordCloud").style.display = "none";
        }
        //[d, '天', pad(h), '小時', pad(m), '分鐘'].join('');

        call_jieba_cut('', function (_result) {
            document.getElementById("myNav").style.display = "none";
        });

        function loadDemo() {
            demoData.sort(function (a, b) {
                return a.timestamp - b.timestamp;
            });
            if (isMobile == false) {
                drawWordCloud(demoData);
            }

            totallyMessage.reNewTotallyMessage(demoData);
            averageMessage.reNewAaverageMessage(demoData);
            totallyDate.reNewtotallyDate(demoData);
            analysicDateVue.reNewanalysicDate(demoData);
            appMain.reNewappMain(demoData);
            drawTop6DataChart(demoData);
            drawAlluserChart(demoData);
            analysicdate = analysicDate(demoData)
            analysicdate.sort(function (b, a) {
                return a.number - b.number;
            });
            allDateforChart3 = JSON.parse(JSON.stringify(analysicdate));
            drawallDateforChart3();
        }

        function reNew() {
            var key = document.getElementById("passw0rd").value;
            if (key.length < 4) return;
            while (key.length < 32) {
                key += key;
                if (key.length > 32) {
                    key = key.slice(0, 32)
                }
            }
            var newAesData = JSON.parse(getDAes(key, key, aesData));
            if (!Array.isArray(newAesData)) return;
            newAesData.sort(function (a, b) {
                return a.timestamp - b.timestamp;
            });
            if (isMobile == false) {
                drawWordCloud(newAesData);
            }
            totallyMessage.reNewTotallyMessage(newAesData);
            averageMessage.reNewAaverageMessage(newAesData);
            totallyDate.reNewtotallyDate(newAesData);
            analysicDateVue.reNewanalysicDate(newAesData);
            appMain.reNewappMain(newAesData);
            drawTop6DataChart(newAesData);
            drawAlluserChart(newAesData);
            analysicdate = analysicDate(newAesData)
            analysicdate.sort(function (b, a) {
                return a.number - b.number;
            });
            allDateforChart3 = JSON.parse(JSON.stringify(analysicdate));
            drawallDateforChart3();
        }

        //總共傳了多少訊息 - BOT 及非BOT
        var totallymessage = analysicTotallymessage(rawData);
        var totallyMessage = new Vue({
            el: '#totallyMessage',
            data: {
                message0: totallymessage[0],
                message1: totallymessage[1]
            },
            methods: {
                reNewTotallyMessage: function (input) {
                    var newTotallymessage = analysicTotallymessage(input);
                    this.message0 = newTotallymessage[0];
                    this.message1 = newTotallymessage[1];
                }
            },
            updated() {
                // 讓我們可以知道組件有被更新
                console.log('totallyMessage updated')
            }
        })
        var newTotallyDay = ((totallydate).toString().match(/\d+/i) < 1) ? 1 : (totallydate).toString()
            .match(/\d+/i);
        var averageMessage = new Vue({
            el: '#averageMessage',
            data: {
                message: (Math.ceil(totallymessage[0] / newTotallyDay * 100) / 100).toFixed(2) + '個'
            },
            methods: {
                reNewAaverageMessage: function (input) {
                    newTotallyDay = Number(totallyDay(input).toString().match(/\d+/i)[0]);
                    if (newTotallyDay < 1) newTotallyDay = 1;
                    totallymessage = analysicTotallymessage(input);
                    this.message = (Math.ceil(totallymessage[0] / newTotallyDay * 100) / 100).toFixed(2) +
                        '個';
                }
            },
            updated() {
                // 讓我們可以知道組件有被更新
                console.log('totallyMessage updated')
            }
        })
        //[humanTimes.length, botTimes.length



        //最多訊息數日子頭三，訊息數 O   
        var analysicdate = analysicDate(rawData)
        var allDateforChart3 = JSON.parse(JSON.stringify(analysicdate));
        analysicdate.sort(function (b, a) {
            return a.number - b.number;
        });

        var top3Date = JSON.parse(JSON.stringify(analysicdate));

        top3Date.splice(3, top3Date.length - 1);
        top3Date.forEach((e, i) => {
            var temptop3Date = e.date.toString().match(/^(\d\d\d\d)(\d\d)(\d\d)/)
            top3Date[i].date = [temptop3Date[1], '年', temptop3Date[2], '月', temptop3Date[3], '日'].join('');
        })
        var analysicDateVue = new Vue({
            el: '#analysicDate',
            data: {
                messages: top3Date
            },
            methods: {
                reNewanalysicDate: function (input) {
                    analysicdate = analysicDate(input)
                    allDateforChart3 = JSON.parse(JSON.stringify(analysicdate));
                    analysicdate.sort(function (b, a) {
                        return a.number - b.number;
                    });
                    top3Date = JSON.parse(JSON.stringify(analysicdate));
                    top3Date.splice(3, top3Date.length - 1);
                    top3Date.forEach((e, i) => {
                        temptop3Date = e.date.toString().match(/^(\d\d\d\d)(\d\d)(\d\d)/)
                        top3Date[i].date = [temptop3Date[1], '年', temptop3Date[2], '月',
                            temptop3Date[3], '日'
                        ].join('');
                    })
                    this.messages = top3Date
                }
            },
            updated() {
                // 讓我們可以知道組件有被更新
                console.log('analysicDate updated')
            }
        })
        // 群友的頭六名的訊息數(不包括BOT) (棒型圖)




        //群友各自占聊天的比例   


        //每日平均訊息數量
        //totallymessage/totallydate

        //最多說話的一天 

        //最常講的字 文字雲(排序) 

        /**
         *    contact: 'Third: Learn JavaScript\nWWW',
                        timestamp: '2009-09-09',
                        user: 'Sad',
                        ISBOT?: "Dec.",
                        
         * 
         * */



        //最多訊息數日子頭三， 訊息數 O
        function analysicDate(result) {
            var reNewResult = result.filter(message => {
                return message.isbot == false
            })
            let tempresult = [];
            let temptime = 0;
            let tempdate = '';
            for (let index = 1; index < reNewResult.length; index++) {
                let unix_timestamp = reNewResult[index].timestamp;
                let TEMPanalysicDate = new Date(unix_timestamp)
                let year = TEMPanalysicDate.getFullYear().toString();
                let month = (TEMPanalysicDate.getMonth() + 1).toString().padStart(2, '0');
                let day = TEMPanalysicDate.getDate().toString().padStart(2, '0');
                tempdate = year + month + day;
                if (!tempresult || !tempresult[temptime]) {
                    tempresult[temptime] = {
                        date: tempdate,
                        number: 1
                    };
                } else if (tempresult[temptime].date == tempdate) {
                    tempresult[temptime].number++
                } else {
                    temptime++
                    tempresult[temptime] = {
                        date: tempdate,
                        number: 1
                    }

                }

            }
            return tempresult
        }
        //群友的頭六名的訊息數(不包括BOT) (棒型圖)
        function analysicPeopleTalk(messages) {
            var tempData = [];
            messages.forEach(message => {
                if (message.isbot == false)
                    if (!tempData[message.userName]) {
                        tempData[message.userName] = 1;
                    } else tempData[message.userName]++;
            })
            return tempData;
        }

        function analysicPeopleTalk2(messages) {
            var tempData2 = [];
            messages.forEach(message => {
                if (!tempData2[message.userName]) {
                    tempData2[message.userName] = 1;
                } else tempData2[message.userName]++;
            })
            return tempData2;
        }

        function analysicTotallymessage(messages) {
            let humanTimes = messages.filter(time => time.isbot == false) || [];
            let botTimes = messages.filter(time => time.isbot == true) || [];
            return [humanTimes.length, botTimes.length]
        }

        function totallyDay(result) {

            if (!result.length) return;
            let lastDay = result[result.length - 1].timestamp;
            let firstDay = result[0].timestamp;
            return dhm(lastDay - firstDay);
            //"[30/10/2019, 17:07:04]", "30", "10", "2019", "17", "07", "04"]
        }

        function dhm(t) {
            let cd = 24 * 60 * 60 * 1000,
                ch = 60 * 60 * 1000,
                d = Math.floor(t / cd),
                h = Math.floor((t - d * cd) / ch),
                m = Math.round((t - d * cd - h * ch) / 60000),
                pad = function (n) {
                    return n < 10 ? '0' + n : n;
                };
            if (m === 60) {
                h++;
                m = 0;
            }
            if (h === 24) {
                d++;
                h = 0;
            }
            return [d, '天', pad(h), '小時', pad(m), '分鐘'].join('');
        }
    </script>
    <script>
        function dhm2(unix_timestamp) {
            var date = new Date(unix_timestamp)
            var year = date.getFullYear().toString();
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');
            var dhm2hour = date.getHours();
            var dhm2minute = date.getMinutes();
            return [year, '年', month, '月', day, '日', ' ', dhm2hour, ':', dhm2minute].join('');
        };
        const appMain = new Vue({
            el: "#appMain",
            data: {
                filter: "",
                rows: rawData
            },
            methods: {
                reNewappMain(input) {
                    this.rows = input
                },

                highlightMatches(text, isbot) {
                    const matchExists = text
                        .toLowerCase()
                        .includes(this.filter.toLowerCase());
                    if (!matchExists) return text;
                    const re = new RegExp(this.filter, "ig");
                    if (isbot) text = text + '(🤖)';
                    return text.replace(re, matchedText => `<strong>${matchedText}</strong>`);
                },
                dhm2(unix_timestamp) {
                    var dhm2date = new Date(unix_timestamp)
                    var year = dhm2date.getFullYear().toString();
                    var month = (dhm2date.getMonth() + 1).toString().padStart(2, '0');
                    var day = dhm2date.getDate().toString().padStart(2, '0');
                    var dhm2hour = dhm2date.getHours().toString().padStart(2, '0');
                    var dhm2minute = dhm2date.getMinutes().toString().padStart(2, '0');
                    return [year, '年', month, '月', day, '日', '\n', dhm2hour, ':', dhm2minute].join('');
                }
            },
            computed: {
                filteredRows() {
                    return this.rows.filter(row => {
                        const contact = row.contact.toString().toLowerCase();
                        const userName = row.userName.toString().toLowerCase();
                        const timestamp = dhm2(row.timestamp).toString().toLowerCase();
                        const searchTerm = this.filter.toLowerCase();
                        return (
                            contact.includes(searchTerm) || userName.includes(searchTerm) ||
                            timestamp.includes(searchTerm)
                        );
                    });
                }
            }
        });
    </script>
    <script>
        function drawWordCloud(newData) {
            //文字雲/關鍵字，及字型大小（這邊只放三個）
            var fill = d3.scaleOrdinal(d3.schemeCategory10);
            //取得呈現處的寬、高
            var cloudw = parseInt(d3.select("#tag").style("width"), 10);
            var cloudH = parseInt(d3.select("#tag").style("height"), 10);
            var text = "";
            (newData || rawData).forEach(Data => {
                if (Data.isbot == false) {
                    text += Data.contact + ' ';
                }
            })
            var wordFreq = {};
            var resultJieba = call_jieba_cut(text, function (_result) {
                _result.forEach(function (s) {
                    wordFreq[s] ? wordFreq[s]++ : wordFreq[s] = 1;
                });

                var wordFreqNew = Object.keys(wordFreq).map((key) => {
                    return {
                        text: key,
                        freq: wordFreq[key]
                    }
                });

                var wordFreqNew2 = wordFreqNew.filter((key) => {
                    return (key.text.match(/^\S\S/) && !key.text.toString().match(/^\d+$/))
                });
                wordFreqNew2.sort(function (b, a) {
                    return a.freq - b.freq;
                });

                var wordFreqNew3 = wordFreqNew2.map((key, index) => {
                    return {
                        text: key.text,
                        size: (60 - index) > 1 ? (60 - index) : 1
                    }
                });

                d3.layout.cloud().size([cloudw, cloudH])
                    .words(wordFreqNew3)
                    .padding(2)
                    .rotate(function () {
                        return ~~((Math.random() * 6) - 3) * 30
                    })
                    .fontSize(function (d) {
                        return d.size;
                    })
                    .on("end", draw)
                    .start();
                document.getElementById("myNav").style.display = "none";
            });

            function draw(words) {
                d3.select("#tag").select("svg").remove();
                d3.select("#tag").append("svg")
                    .attr("width", cloudw)
                    .attr("height", cloudH)
                    .append("g")
                    .attr("transform", "translate(" + cloudw / 2 + "," + cloudH / 2 + ")")
                    .selectAll("text")
                    .data(words)
                    .enter().append("text")
                    .transition()
                    .duration(800)
                    .style("font-size", function (d) {
                        return d.size + "px";
                    })
                    .style("font-family", "Microsoft JhengHei")
                    .style("cursor", 'pointer')
                    .style("fill", function (d, i) {
                        return fill(i);
                    })
                    .attr("text-anchor", "middle")
                    .attr("transform", function (d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function (d) {
                        return d.text;
                    })

            }
        }
    </script>



    <script>
        var peopleTalk;
        drawTop6DataChart(rawData);

        function drawTop6DataChart(input) {
            peopleTalk = analysicPeopleTalk(input);
            var top6Labels = [],
                top6Data = [];
            Object.keys(peopleTalk).forEach((item, index) => {
                if (index < 6) {
                    top6Data[index] = item;
                    top6Labels[index] = peopleTalk[item];
                }
            })
            //peopleTalk
            Chart.defaults.global.defaultFontColor = 'white';
            Chart.defaults.global.defaultFontFamily = "'Arial', sans-serif";
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.defaultFontStyle = 'normal';
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: top6Data,
                    datasets: [{
                        label: '訊息量排名',
                        data: top6Labels,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                precision: 0
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                offsetGridLines: true
                            }
                        }]
                    }
                }
            });
        }
    </script>

    <script>
        function drawAlluserChart(input) {
            var peopleTalk2 = analysicPeopleTalk2(input);
            var allUesr = [];
            Object.keys(peopleTalk2).forEach((item, index) => {
                allUesr[index] = {
                    Data: peopleTalk2[item],
                    Labels: item
                }
            })
            allUesr.sort(function (b, a) {
                return a.Data - b.Data;
            });
            var ctx2 = document.getElementById("myChart2").getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: allUesr.map((e) => {
                        return e.Labels;
                    }),
                    datasets: [{
                        label: '聊天比例',
                        data: allUesr.map((e) => {
                            return e.Data;
                        }),
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],

                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: '聊天比例' + ' (共' + Object.keys(peopleTalk).length + '人)',
                        fontColor: 'white',
                        fontStyle: 'normal'
                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    </script>
    <script>
        var chart3cfg;

        function drawallDateforChart3() {
            var dataCFG = [];

            allDateforChart3.forEach((e, i) => {
                var tempTime3 = e.date.toString().match(/^(\d\d\d\d)(\d\d)(\d\d)/)
                dataCFG[i] = {
                    t: toTimestamp(tempTime3[1], tempTime3[2], tempTime3[3]),
                    y: e.number
                }

            })
            dataCFG.sort(function (b, a) {
                return a.t - b.t;
            });

            function toTimestamp(year, month, day) {
                var datum = new Date(Date.UTC(year, month - 1, day, 0, 0, 0));
                return datum.getTime();
            }
            chart3cfg = {
                data: {
                    datasets: [{
                        label: '每日訊息數',
                        backgroundColor: 'rgba(255, 99, 132, 1)',
                        borderColor: 'rgba(255,99,132,1)',
                        data: dataCFG,
                        type: 'line',
                        pointRadius: 0,
                        fill: false,
                        lineTension: 0,
                        borderWidth: 2
                    }]
                },
                options: {
                    animation: {
                        duration: 0
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'series',
                            offset: true,
                            time: {
                                displayFormats: {
                                    quarter: 'MMM YYYY'
                                }
                            },
                            ticks: {
                                major: {
                                    enabled: true,
                                    fontStyle: 'bold'
                                },
                                source: 'data',
                                autoSkip: true,
                                autoSkipPadding: 75,
                                maxRotation: 0,
                                sampleSize: 100
                            },
                            afterBuildTicks: function (scale, ticks) {
                                if (!tick) {
                                    return;
                                }
                                var majorUnit = scale._majorUnit;
                                var firstTick = ticks[0];
                                var curri, ilen, val, tick, currMajor, lastMajor;

                                val = moment(ticks[0].value);
                                if ((majorUnit === 'minute' && val.second() === 0) ||
                                    (majorUnit === 'hour' && val.minute() === 0) ||
                                    (majorUnit === 'day' && val.hour() === 9) ||
                                    (majorUnit === 'month' && val.date() <= 3 && val.isoWeekday() ===
                                        1) ||
                                    (majorUnit === 'year' && val.month() === 0)) {
                                    firstTick.major = true;
                                } else {
                                    firstTick.major = false;
                                }
                                lastMajor = val.get(majorUnit);

                                for (curri = 1, ilen = ticks.length; curri < ilen; curri++) {
                                    tick = ticks[curri];
                                    val = moment(tick.value);
                                    currMajor = val.get(majorUnit);
                                    tick.major = currMajor !== lastMajor;
                                    lastMajor = currMajor;
                                }
                                return ticks;
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                drawBorder: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '訊息量'
                            },
                            ticks: {
                                beginAtZero: true,
                                precision: 0
                            }
                        }]
                    },
                    tooltips: {
                        intersect: false,
                        mode: 'index',
                        callbacks: {
                            label: function (tooltipItem, myData) {
                                var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += parseFloat(tooltipItem.value)
                                return label;
                            }
                        }
                    }
                }
            };
            var ctx3 = document.getElementById("myChart3").getContext('2d');
            var myChart3 = new Chart(ctx3, chart3cfg);
        }
        //// [{t:1602677527,y:600},{t:1622677527,y:300},{t:1702677527,y:900}],
    </script>
    <script>
        var hde = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';
        var progressbar = document.getElementById("progressbar");
        var pos = ((hde[sh] || b[sh]) <= hde.clientHeight) ? 100 : getVerticalScrollPercentage(b);
        progressbar.innerHTML = Math.round(pos) + '%';
        progressbar.style.width = Math.max(Math.round(pos), 10) + '%';
        document.getElementById("touchBar").addEventListener("mousedown",
            function clicked(e) {
                var br = document.getElementById("touchBar").getBoundingClientRect();
                // x & y are relative to the clicked element
                var x = e.clientX - br.left;
                var level = Math.round(x / document.getElementById("touchBar").offsetWidth * 100) / 100;

                window.scrollTo({
                    top: level * ((hde[sh] || b[sh]) - hde.clientHeight),
                    behavior: 'smooth'
                });

            });

        document.onscroll = function () {
            pos = getVerticalScrollPercentage(b)
            //aria-valuenow
            progressbar.innerHTML = Math.round(pos) + '%';
            progressbar.style.width = Math.max(Math.round(pos), 10) + '%';
        };

        function getVerticalScrollPercentage(elm) {
            var percent = (hde[st] || b[st]) / ((hde[sh] || b[sh]) - hde.clientHeight) * 100;
            return percent
        }
    </script>

    <script>
        $(document).ready(function () {
            var activeSystemClass = $('.list-group-item.active');

            //something is entered in search form
            $('#system-search').keyup(function () {
                var that = this;
                // affect all table rows on in systems table
                var tableBody = $('.table-list-search tbody');
                var tableRowsClass = $('.table-list-search tbody tr');
                $('.search-sf').remove();
                tableRowsClass.each(function (i, val) {

                    //Lower text for case insensitive
                    var rowText = $(val).text().toLowerCase();
                    var inputText = $(that).val().toLowerCase();
                    if (inputText != '') {
                        $('.search-query-sf').remove();
                        tableBody.prepend(
                            '<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "' +
                            $(that).val() +
                            '"</strong></td></tr>');
                    } else {
                        $('.search-query-sf').remove();
                    }

                    if (rowText.indexOf(inputText) == -1) {
                        //hide rows
                        tableRowsClass.eq(i).hide();

                    } else {
                        $('.search-sf').remove();
                        tableRowsClass.eq(i).show();
                    }
                });
                //all tr elements are hidden
                if (tableRowsClass.children(':visible').length == 0) {
                    tableBody.append(
                        '<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>'
                    );
                }
            });
        });
    </script>

</body>
<!-- HKTRPG Sad -- 20201015-->

</html>