<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <style>
        .body {
            width: 100%;
            height: 90%;
        }

        .footer {
            flex: 0 0 auto;
            width: 100%;
            position: fixed;
            z-index: 1000;
            padding: 0 !important;
            height: 64 px;
            bottom: 0;
            background-color: white;

        }

        .card-body2 {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            flex: 1 1 auto;
            min-height: 1px;
        }

        .card-header2 {
            background-color: rgba(22, 23, 24, 0.03);
            border-bottom-color: rgba(22, 23, 24, 0.13);
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-bottom: 0;
            background-color: rgba(0, 0, 0, .03);
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }

        .middleBlock {
            padding: 44pt 0;
            max-height: 80vh;
            padding-top: 0 !important;
            white-space: pre-wrap;

        }

        @media (max-width: 767.98px) {
            .middleBlock {
                padding-top: 0 !important;
                min-height: 80vh;
                padding: 44pt 0;
                white-space: pre-wrap;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
        name="viewport" />
    <title>HKTRPG 擲骰機器人及聊天室 1D100 2D6 查詢指令輸入Bothelp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(function () { $("head").load("header.html") });
    </script>
</head>

<body>
    <section id="root">
        <div id="header"></div>
        <main>
            <div class="overflow-auto  middleBlock p-2" id="container-content">
                <div class="border" id="content">
                </div>
            </div>
        </main>
        <footer>
            <div class="sticky-bottom  footer white">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <form id="send-form">
                            <div class="input-group text-center">
                                <input type="text" name="msg" id="msg" value="1d100" placeholder="說點什麼？"
                                    maxlength="1000">
                                <div class="input-group-append">
                                    <input type="submit" class="btn btn-primary" id="submit" value="送出"
                                        onclick="genName()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </footer>
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="footer-copyright text-center py-2">©2020-2021 GNU HKTRPG -
                    <a href="https://www.patreon.com/HKTRPG"> 餵飼 Sad</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="readmeModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="readmeModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="readmeModalLongTitle">使用說明</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        每間房間上限100條信息<br>
                        輸入名字可以進入自定的房間<br>
                        擲骰方法和HKTRPG骰子機械人一樣。<br>
                        詳情可以點擊<br>
                        <a href="https://bothelp.hktrpg.com/">HKTRPG使用教學!</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111430056-7"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-111430056-7');
    let socket = io();
    let color = 3;

    function readme() {
        $('#readmeModalCenter').modal("show")
    }

    function genName() {
        if (!document.getElementById("name").value)
            document.getElementById("name").value = "調查員" + Math.floor(Math.random() * 1000) + 1;
    }

    function save() {
        let roomText = document.getElementById("roomNumber");
        console.log('roomText', document.getElementById(
            "content").innerText)
        let string = ('HKTRPG' + (roomText && (
            roomText.value || ''))) + '\n' + (document.getElementById(
                "content") && (document.getElementById(
                    "content").innerText || '')).replace(/(.*\d+:\d+:\d+)/g, '\n$1')


        let link = document.createElement('a');
        link.download = 'HKTRPG' + (roomText.value || '');
        let blob = new Blob([string], {
            type: 'text/plain;charset=utf-8;'
        });
        link.href = window.URL.createObjectURL(blob);
        console.log('blob', blob)
        link.click();



    }

    function scorllToBottom() {
        let content = document.getElementById("container-content");
        content.scrollTop = content.scrollHeight;
    }
    document.addEventListener("DOMContentLoaded", () => {
        let roomNumber = "公共房間"
        let max_record = 100;
        //  let status = document.getElementById("status");
        let online = document.getElementById("online");
        let room = document.getElementById("room");
        let roomText = document.getElementById("roomNumber");
        let changeRoomNumber = document.getElementById("changeRoomNumber-form");
        let sendForm = document.getElementById("send-form");
        let content = document.getElementById("content");
        let nameInputBox = document.getElementById("name");
        let msgInputBox = document.getElementById("msg");
        let name = getLocalStorage("name");

        if (name) {
            nameInputBox.value = name;
        } else {
            genName()
        }
        /*
                socket.on("connect", function () {
                    status.innerText = "Connected.";
                });

                socket.on("disconnect", function () {
                    status.innerText = "Disconnected.";
                });
        */
        socket.on("online", function (amount) {
            online.innerText = amount;
        });

        socket.on("maxRecord", function (amount) {
            max_record = amount;
        });

        socket.on("chatRecord", async function (msgs) {
            msgs.sort(function (a, b) {
                return new Date(a.time) - new Date(b.time);
            });
            for (let i = 0; i < msgs.length; i++) {
                (async function () {
                    await addMsgToBox(msgs[i]);
                })();
            }
        });

        socket.on(roomNumber, addMsgToBox);

        changeRoomNumber.addEventListener("submit", async function (e) {
            e.preventDefault();
            color = 3;
            if (!roomText.value) {
                roomText.innerHTML = "公共房間";
                roomText.value = "公共房間";
            };
            if (roomText.value == roomNumber) {
                return;
            }
            await socket.off(roomNumber);
            roomNumber = roomText.value;
            let myNode = document.getElementById("content");
            myNode.innerHTML = '';
            socket.emit("newRoom", roomNumber);
            room.innerText = roomNumber;
            await socket.on(roomNumber, addMsgToBox);
        });



        sendForm.addEventListener("submit", function (e) {
            e.preventDefault();
            $('#msg').focus();
            if (!msgInputBox) return;
            let formData = {
                time: new Date(Date.now())
            };
            formData.msg = msgInputBox.value;
            formData.name = nameInputBox.value;
            formData.roomNumber = roomNumber;
            socket.emit("send", formData);
            setLocalStorage("name", nameInputBox.value);
            // console.log('nameInputBox', nameInputBox)

        });


        async function addMsgToBox(d) {
            color++;
            let msgBox = document.createElement("div");
            msgBox.className = "card";
            let msgBoxHeader = document.createElement("div");
            msgBoxHeader.className = "card-header2";
            let msgBoxBody = document.createElement("div");

            msgBoxBody.classList.add("card-body2")

            let space = document.createElement("span");
            let nameBox = document.createElement("span");
            nameBox.className = "badge badge-primary";
            let timeBox = document.createElement("span")
            timeBox.className = "badge badge-secondary";
            let name = document.createTextNode(d.name);

            let time = document.createTextNode(new Date(d.time).toLocaleString());
            let msg = document.createTextNode(d.msg.replace(/^\n/, ''), setTimeout(function () {
                scorllToBottom();
            }, 50));


            nameBox.appendChild(name);
            msgBoxHeader.appendChild(nameBox);
            msgBoxHeader.innerHTML += "&nbsp";
            timeBox.appendChild(time);
            msgBoxHeader.appendChild(timeBox);
            msgBoxBody.appendChild(msg);

            msgBox.appendChild(msgBoxHeader);
            msgBox.appendChild(msgBoxBody);
            content.appendChild(msgBox);

            if (content.children.length > max_record) {
                rmMsgFromBox();
            }
        }

        function rmMsgFromBox() {
            let childs = content.children;
            childs[0].remove();
        }

        function setLocalStorage(cname, cvalue) {
            localStorage.setItem(cname, cvalue);
        }

        function getLocalStorage(cname) {
            return localStorage.getItem(cname) || null;
        }
    });
</script>


</html>