<!doctype html>
<html lang="zh-Hant-HK">
<!-- HKTRPG Sad-->
<style>

</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- production version, optimized for size and speed -->
    <script src="https://unpkg.com/vue@3.0.5"></script>


    <title>劇場 @ HKTRPG</title>
    <link rel="icon" href="https://avatars2.githubusercontent.com/u/48795428?s=280&v=4" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css"
        integrity="sha512-3g+prZHHfmnvE1HBLwUnVuunaPOob7dpksI7/v6UnF/rnKGwHf/GdEq9K7iEN7qTtW+S0iivTcGpeTBqqB04wA=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.7/pixi.min.js"></script>
    <!--https://blog.gtwang.org/programming/javascript-aes-symmetric-encryption-tutorial/-->
</head>

<body class=" container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81"><a
                class="badge badge-pill badge-danger">
                HKTRPG 私人角色卡管理平台<span class="iconify" data-icon="mdi:dice-multiple-outline" data-inline="false"
                    style="color: black;" data-width="32" data-height="32"></span></span>
                <span class="iconify" data-icon="bi:chat-square-text" data-inline="false" style="color: black;"
                    data-width="32" data-height="32"></span>
            </a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81">主頁
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        角色卡
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">私人角色卡</a>
                        <a class="dropdown-item" href="https://www.hktrpg.com:20721/publiccard/">公開角色卡</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        跑團平台
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://z01.hktrpg.com/">2.5D - 烏冬</a>
                        <a class="dropdown-item" href="https://z02.hktrpg.com/">四平八穩 - 冰丼</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        擲骰
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://rollbot.hktrpg.com/">聊天室擲骰</a>
                        <a class="dropdown-item" href="https://roll.hktrpg.com/">簡易擲骰平台</a>
                    </div>
                </li>
                <a class="nav-item nav-link " href="https://github.com/hktrpg/TG.line.Discord.Roll.Bot">
                    <span class="iconify" data-icon="bytesize:github" data-inline="false" data-width="25px"
                        data-height="25px"></span></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">
                    圖片
                </h4>
                <form class="needs-validation" novalidate="" id='formCanvas'>
                    <div class="row">
                        <div class="col-md-12 mb-12" id="canvasDIV">
                            <canvas id="main" class="ratio ratio-16x9"></canvas>
                        </div>

                    </div>
                    <hr class="mb-4" />
                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                        傳送到聊天平台
                    </button>
                </form>
            </div>

            <div class="col-md-4 order-md-2 mb-4">
                控制台
                <hr class="mb-4" />
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">
                        <button type="button" class="btn btn-primary" onclick="roll()">擲骰</button>
                        <button type="button" class="btn btn-secondary">背景</button>
                        <button type="button" class="btn btn-success">角色</button>
                    </span>

                </h4>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">
                        <button type="button" class="btn btn-danger">濾鏡</button>
                        <button type="button" class="btn btn-warning">特效</button>
                        <button type="button" class="btn btn-info">關閉劇場</button>
                    </span>

                </h4>
                <ul class="list-group mb-3">
                    <div class="dropzone" id="img-upload">
                    </div>
                </ul>
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="XXXXX" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">
                                XXX
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>




    <div class="footer-copyright text-center py-2">©2020-2021 GNU HKTRPG -
        <a href="https://www.patreon.com/HKTRPG"> 餵飼 Sad</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>

    <script>
        Dropzone.autoDiscover = false;
        //  var canvas = new fabric.Canvas('canvas');
        var imgUpload = new Dropzone("#img-upload", {
            url: "UploadImages"
        });
        var reader = new FileReader();

        reader.onload = function (event) {
            var data = event.target.result;
            /**fabric.Image.fromURL(data, function (image) {
                var canvasData = document.getElementById("canvas");
                console.log(canvasData, image)
                var imageObject = image.set({
                    scaleY: canvasData.height / image.height * 0.8,
                    scaleX: canvasData.height / image.height * 0.8
                });
                canvas.add(imageObject).renderAll();
                canvas.setActiveObject(imageObject);
            });
            **/
        };

        imgUpload.on("addedfile", function (file) {
            reader.readAsDataURL(file);
        });

        //PIXI START

        const app = new PIXI.Application({
            backgroundColor: 0x1099bb,
            width: 1280,
            height: 720,
            view: document.getElementById("main")
        });



        const buttonGroup1 = new ButtonGroup({
            buttons: [{
                icon: 'looks_1',
                action: () => {
                    const popupmenu = new PopupMenu({
                        items: [{
                                label: 'Speichern',
                                action: () => alert('Gespeichert')
                            },
                            {
                                label: 'Editieren',
                                action: () => alert('Editiert')
                            },
                            {
                                label: 'Löschen',
                                action: () => alert('Gelöscht'),
                                disabled: true
                            }
                        ]
                    })
                    app.scene.addChild(popupmenu)
                }
            }]
        })

        const style = new PIXI.TextStyle({
            fontFamily: 'Arial',
            fontSize: 36,
            fontStyle: 'italic',
            fontWeight: 'bold',
            fill: ['#ffffff', '#00ff99'], // gradient
            stroke: '#4a1850',
            strokeThickness: 5,
            dropShadow: true,
            dropShadowColor: '#000000',
            dropShadowBlur: 4,
            dropShadowAngle: Math.PI / 6,
            dropShadowDistance: 6,
            wordWrap: true,
            wordWrapWidth: 440,
            lineJoin: 'round'
        });



        function roll(params) {
            const richText = new PIXI.Text('1D100 =>30', buttonGroup1);
            richText.x = Math.floor(Math.random() * app.screen.width);
            richText.y = Math.floor(Math.random() * app.screen.height);

            app.stage.addChild(richText);

            richText.interactive = true; // 設定可以互動
            richText.buttonMode = true; // 當滑鼠滑過時顯示為手指圖示
            richText
                .on('pointerdown', onDragStart)
                .on('pointerup', onDragEnd)
                .on('pointerupoutside', onDragEnd)
                .on('pointermove', onDragMove);

        }

        function resize() {
            var $canvas = $("#main");
            var $parent = $canvas.parent();
            $canvas.width($parent.width() - 2);
            $canvas.height($parent.height() - 2);
        }


        resize();
        $(window).on('resize', function () {
            resize();
        });
        const texture = PIXI.Texture.from(
            'https://www.custom-gateway.com.hk/wp-content/uploads//2017/07/free-icon-png-17.png');

        // Scale mode for pixelation
        texture.baseTexture.scaleMode = PIXI.SCALE_MODES.NEAREST;



        for (let i = 0; i < 2; i++) {
            createBunny(
                Math.floor(Math.random() * app.screen.width),
                Math.floor(Math.random() * app.screen.height),
            );
        }

        function createBunny(x, y) {
            // create our little bunny friend..
            const bunny = new PIXI.Sprite(texture);

            // enable the bunny to be interactive... this will allow it to respond to mouse and touch events
            bunny.interactive = true;

            // this button mode will mean the hand cursor appears when you roll over the bunny with your mouse
            bunny.buttonMode = true;

            // center the bunny's anchor point
            bunny.anchor.set(0.5);

            // make it a bit bigger, so it's easier to grab
            bunny.scale.set(1);

            // setup events for mouse + touch using
            // the pointer events
            bunny
                .on('pointerdown', onDragStart)
                .on('pointerup', onDragEnd)
                .on('pointerupoutside', onDragEnd)
                .on('pointermove', onDragMove);

            // For mouse-only events
            // .on('mousedown', onDragStart)
            // .on('mouseup', onDragEnd)
            // .on('mouseupoutside', onDragEnd)
            // .on('mousemove', onDragMove);

            // For touch-only events
            // .on('touchstart', onDragStart)
            // .on('touchend', onDragEnd)
            // .on('touchendoutside', onDragEnd)
            // .on('touchmove', onDragMove);

            // move the sprite to its designated position
            bunny.x = x;
            bunny.y = y;

            // add it to the stage
            app.stage.addChild(bunny);
        }

        function onDragStart(event) {
            // store a reference to the data
            // the reason for this is because of multitouch
            // we want to track the movement of this particular touch
            this.data = event.data;
            this.alpha = 0.5;
            this.dragging = true;
        }

        function onDragEnd() {
            this.alpha = 1;
            this.dragging = false;
            // set the interaction data to null
            this.data = null;
        }

        function onDragMove() {
            if (this.dragging) {
                const newPosition = this.data.getLocalPosition(this.parent);
                this.x = newPosition.x;
                this.y = newPosition.y;
            }
        }
        //    var img = new Image();
        //  img.src = 'my/url/image.png';
        //  var base = new PIXI.BaseTexture(img),
        //    texture = new PIXI.Texture(base);
    </script>


</body>
<!-- HKTRPG Sad -- 20201221-->
<!--
擲骰    -   可以進行最基本1D2 1D3…1D100，然後把結果像實骰一樣放上畫面。
背景    -   更換背景圖片，可選根據濶度，高度等等，參考一些VIDEO PLAYER
角色    -   可以放上數張不同的角色圖，刪除，有反轉，DRAG及拉大縮少，改變顏色，灰化，黑化，模糊化等功能
濾鏡    -   整個畫面的濾鏡
特效    -   像一些! 笑 顏文字 等等顯示在畫面
文字    -   在畫面顯示文字
關閉劇場    -   不顯示下方的對話框
傳送    -   

最下    -   可以在對話框輸入文字

-->

</html>