<!doctype html>
<html lang="zh-Hant-HK">
<!-- HKTRPG Sad-->
<style>
    canvas {
        border: 1px solid black;
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- production version, optimized for size and speed -->
    <script src="https://unpkg.com/vue@3.0.5"></script>


    <title>劇場 @ HKTRPG</title>
    <link rel="icon" href="https://avatars2.githubusercontent.com/u/48795428?s=280&v=4" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css"
        integrity="sha512-3g+prZHHfmnvE1HBLwUnVuunaPOob7dpksI7/v6UnF/rnKGwHf/GdEq9K7iEN7qTtW+S0iivTcGpeTBqqB04wA=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"
        integrity="sha512-ACqMrfAtm537AWzgx/xQ57JnFxXeq8RylQMGg4y/e6M2ew4Z8NycE8aId/Bt2ZE+w1gNsox3MgwxKl7SGMRdtA=="
        crossorigin="anonymous"></script>
    <!--https://blog.gtwang.org/programming/javascript-aes-symmetric-encryption-tutorial/-->
</head>

<body class=" container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81"><a
                class="badge badge-pill badge-danger">
                HKTRPG 私人角色卡管理平台<span class="iconify" data-icon="mdi:dice-multiple-outline" data-inline="false"
                    style="color: black;" data-width="32" data-height="32"></span></span>
                <span class="iconify" data-icon="bi:chat-square-text" data-inline="false" style="color: black;"
                    data-width="32" data-height="32"></span>
            </a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="https://www.hktrpg.com/wiki/index.php/%E9%A6%96%E9%A0%81">主頁
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        角色卡
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">私人角色卡</a>
                        <a class="dropdown-item" href="https://www.hktrpg.com:20721/publiccard/">公開角色卡</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        跑團平台
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://z01.hktrpg.com/">2.5D - 烏冬</a>
                        <a class="dropdown-item" href="https://z02.hktrpg.com/">四平八穩 - 冰丼</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        擲骰
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://rollbot.hktrpg.com/">聊天室擲骰</a>
                        <a class="dropdown-item" href="https://roll.hktrpg.com/">簡易擲骰平台</a>
                    </div>
                </li>
                <a class="nav-item nav-link " href="https://github.com/hktrpg/TG.line.Discord.Roll.Bot">
                    <span class="iconify" data-icon="bytesize:github" data-inline="false" data-width="25px"
                        data-height="25px"></span></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">
                    圖片
                </h4>
                <form class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <canvas id="canvas" width="600" height="450"></canvas>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="username">
                            Username
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    @
                                </span>
                            </div>
                            <input type="text" class="form-control" id="username" placeholder="Username" required="" />
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">
                            Email
                            <span class="text-muted">
                                (Optional)
                            </span>
                        </label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" />
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address">
                            Address
                        </label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="" />
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address2">
                            Address 2
                            <span class="text-muted">
                                (Optional)
                            </span>
                        </label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" />
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">
                                Country
                            </label>
                            <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">
                                    Choose...
                                </option>
                                <option>
                                    United States
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">
                                State
                            </label>
                            <select class="custom-select d-block w-100" id="state" required="">
                                <option value="">
                                    Choose...
                                </option>
                                <option>
                                    California
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">
                                Zip
                            </label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="" />
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4" />
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address" />
                        <label class="custom-control-label" for="same-address">
                            Shipping address is the same as my billing address
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info" />
                        <label class="custom-control-label" for="save-info">
                            Save this information for next time
                        </label>
                    </div>
                    <hr class="mb-4" />
                    <h4 class="mb-3">
                        Payment
                    </h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""
                                required="" />
                            <label class="custom-control-label" for="credit">
                                Credit card
                            </label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                required="" />
                            <label class="custom-control-label" for="debit">
                                Debit card
                            </label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input"
                                required="" />
                            <label class="custom-control-label" for="paypal">
                                PayPal
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">
                                Name on card
                            </label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="" />
                            <small class="text-muted">
                                Full name as displayed on card
                            </small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">
                                Credit card number
                            </label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="" />
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">
                                Expiration
                            </label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="" />
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">
                                CVV
                            </label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="" />
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4" />
                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                        Continue to checkout
                    </button>
                </form>
            </div>
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">

                    </span>

                </h4>
                <ul class="list-group mb-3">
                    <div class="dropzone" id="img-upload">

                    </div>
                </ul>
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">
                                Redeem
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>




    <div class="footer-copyright text-center py-2">©2020-2021 GNU HKTRPG -
        <a href="https://www.patreon.com/HKTRPG"> 餵飼 Sad</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>

    <script>
        Dropzone.autoDiscover = false;
        var canvas = new fabric.Canvas('canvas');
        var imgUpload = new Dropzone("#img-upload", {
            url: "UploadImages"
        });
        var reader = new FileReader();
        var canvasDiv = document.getElementById("canvas");
        reader.onload = function (event) {
            var data = event.target.result;
            fabric.Image.fromURL(data, function (image) {
                console.log(canvasDiv.height / image.height)
                var imageObject = image.set({
                    scaleY: canvasDiv.width / image.width,
                    scaleX: canvasDiv.width / image.width
                });
                canvas.add(imageObject).renderAll();
                canvas.setActiveObject(imageObject);
            });
        };

        imgUpload.on("addedfile", function (file) {
            reader.readAsDataURL(file);
        });
    </script>
</body>
<!-- HKTRPG Sad -- 20201221-->

</html>