<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>Udonarium烏冬 @ HKTRPG</title>
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
<style>

</style>

<body>
    <div id="header"></div>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title"> Udonarium烏冬 TRPG!</h5>
                <p class="card-text">是沒有服務器的TRPG平台, 但也因此連線質量很看使用者網路。是由TK11235所開發的開源程式然後我再按照自己的喜好加了一些修改。</p>
                <a href="https://github.com/zeteticl/udonarium/fork"><img
                        src="https://img.shields.io/github/forks/zeteticl/udonarium" alt="Forks"></a>
                <a href="https://support.hktrpg.com" title="Join the discord server!"><img
                        src="https://img.shields.io/discord/278202347165974529?logo=discord"
                        alt="Discord invite button" /></a>
                <a href="https://patreon.com/HKTRPG" title="Donate to this project using Patreon"><img
                        src="https://img.shields.io/badge/patreon-donate-red.svg" alt="Patreon donate button" /></a>
            </div>
            <div class="card-footer text-muted">
                推薦使用桌面版Chrome。
            </div>
        </div>
        <p></p>
        <div class="row bg-light">
            <div class="col-2 text-center"> </div>
            <div class=" col-8 text-center border "> <a href="https://z01.hktrpg.com/v1.12.1Guest/"><br>v1.12.1</a>
                <br>更新官方v1.12.1版本(更好的連線,一些BUG和漏洞)<br> 修復六角型地圖, 修復頭像更換功能, 修復CHAT LOG顏色功能, 修復訪客功能, 修復部份未中文化部份<br><br>
            </div>
            <div class="col-2 text-center"> </div>
            <br>
            <div class="col-2 text-center"> </div>
            <div class=" col-8 text-center border "> <a href="https://z01.hktrpg.com/Udo1.11/"><br>v1.11.0 普通中文版</a>
                <br>聽說連線沒v1.10穩定<br><br>
            </div>
            <div class="col-2 text-center"> </div> <br>
            <div class="col-2 text-center"> </div>
            <div class=" col-8 text-center border "> <a href="https://z01.hktrpg.com/v111mixv110/"><br>v1.11.0
                    使用v1.10.3連線方式
                    中文版</a>
                <br>測試,可能有BUG<br><br>
            </div>
            <div class="col-2 text-center"> </div> <br>
            <div class="col-2 text-center"> </div>
            <div class=" col-8 text-center border "> <a href="https://z01.hktrpg.com/UdoSad_2/"><br>v1.10.3 普通中文版</a>
                <br><br>
            </div>
            <div class="col-2 text-center"> </div> <br>
            <div class="col-2 text-center"> </div>
            <div class="bg-light col-8  border text-center"><br><br><a href="https://udonarium.app/">原版連結</a><br><br><a
                    href="https://github.com/zeteticl/udonarium">我的源碼</a><br><br>更新日誌：2020/02/19
                功能表可以在桌面直接生成角色，右鍵新增單張卡牌，人物複製可以選擇有序號或無序號，可輸出LOG，名字會有隨機數字，增加圖片標籤功能，音樂分成BGM和效果音，在關上網頁前會彈出提示的功能(防止沒有儲存房間)，對(角色，迷霧，地形和倉庫角色)按兩下左鍵可以顯示詳情。<br><br>

                更新日誌：2020/02/22 新增GM圖層(其實是鎖起來，只有自己看得見，根據玩家名稱來儲存，所以轉換名稱就會失效)，儲存玩家名稱。<br><br>

                更新日誌：2020/03/10 新增文字倉庫，因為Coding能力問題，文字倉庫需要關閉重開才會更新內容。 Ctrl+S 可以儲存房間。 增加高度設定，用來裝飾房間<br><br>

                更新日誌：2020/03/12 增加角色卡能力可以顯示在聊天視窗，如果使用指令，可以作為擲骰功能。<br><br>

                更新日誌：2020/03/21 筆記倉庫加回位置，人物倉庫直接顯示部份指令。 2020/03/28 增加效果音的開關鍵，debug: 右鍵不會再彈出普通的Menu 2020/04/17
                更新COC骰表<br><br>

                更新日誌：2020/06/05 加上最小化視窗功能, 方便手機端使用 2020/06/09
                更新package的版本。點擊聊天視窗的角色圖可以更改圖示。更改背景GIF圖為月亮，雲動的太快，好暈。<br><br>
                2020/06/17
                更新直到今天的官方修正，版本號沒有改變。<br><br> 2020/07/08 更新1.11.0 <br><br>2020/07/17 刪除圖片功能, 圖片直接使用LINK功能,
                修正LOG輸出不換行的BUG<br><br>2020/07/08 更新1.11.0
                2020/07/17 刪除圖片功能, 圖片直接使用LINK功能, 修正LOG輸出不換行的BUG <br><br>2020/07/31 增加六角型格子, 快速刪除對話功能<br><br> 2020/0906
                效果音關關增加儲存功能，棋子底盤改變大小<br><br>
                2020/09/11 更新v1.11.3版本及訪客功能<br><br>
                2020/11/18 更新v1.12.1版本 修復六角型地圖<br><br></div>
            <div class="col-2 text-center"> </div>
        </div>
    </div>
    <footer>
        <div id="footer"></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <script>
        const TITLE = "Udonarium烏冬 @ HKTRPG";
        $(function () {
            $("#header").load("includes/header.html", function () {
                $("#title").text(TITLE);
            });
            $("#footer").load("includes/footer.html");
        });
    </script>
</body>

</html>