# Copy this file to docker/.env.non-discord before running docker compose.

mongoURL=mongodb://hktrpgadmin:change-this-password@mongodb:27017/hktrpgRollBot?authSource=admin

TELEGRAM_CHANNEL_SECRET=
LINE_CHANNEL_ACCESSTOKEN=
LINE_CHANNEL_SECRET=
WHATSAPP_SWITCH=
WWEBJS_AUTH_DATA_PATH=/app/.wwebjs_auth

CREATEWEB=
WWWPORT=20721
PORT=
BROADCAST=
DEBUG=
TZ=Asia/Taipei
