# Copy this file to docker/.env.discord before running docker compose.

mongoURL=mongodb://hktrpgadmin:change-this-password@mongodb:27017/hktrpgRollBot?authSource=admin

DISCORD_CHANNEL_SECRET=
DISCORD_CHANNEL_CLIENTID=
DISCORD_CHANNEL_GUILDID=

MASTER=
DEBUG=
TZ=Asia/Taipei
