body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    /* Removed position: fixed which causes layout issues */
    z-index: 1000;
    padding: 0 !important;
    height: 64px; /* Fixed space between 64 and px */
    background-color: white;
}

.card-body2 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 1 1 auto;
    min-height: 1px;
}

.card-header2 {
    background-color: rgba(22, 23, 24, 0.03);
    border-bottom-color: rgba(22, 23, 24, 0.13);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.middleBlock {
    padding: 0;
    max-height: 80vh;
    white-space: pre-wrap;
    overflow: hidden; /* Prevent scrolling */
}

@media (max-width: 767.98px) {
    .middleBlock {
        padding-top: 0 !important;
        min-height: 80vh;
        padding: 0;
        white-space: pre-wrap;
        overflow: hidden; /* Prevent scrolling */
    }
}